[2019-10-17 09:51] iscander01 opened #1 "Initialize Chrome extension based on "wallet manager""

[2020-01-14 10:36] iscander01 opened #22 "Settings page"

[2020-01-14 10:47] iscander01 opened #23 "Easy onboarding and seed verification"

[2020-01-31 07:56] iscander01 commented on #16
duplicated

[2020-04-15 07:00] iscander01 opened #56 "Fix popups design on small view"

[2020-04-20 13:20] Denis-Asipenko commented on #52
checked

[2020-04-20 13:24] Denis-Asipenko commented on #41
please, fix according to design.
Actual:
![image](https://user-images.githubusercontent.com/45556620/79756292-19e8c280-8323-11ea-8989-376528f7b9bd.png)
design:
https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/5e15fcbb588e1355afe151c8
![image](https://user-images.githubusercontent.com/45556620/79756334-253bee00-8323-11ea-8e34-fe00dc6d4658.png)

[2020-04-20 13:31] Denis-Asipenko commented on #42
checked

[2020-04-20 13:38] Denis-Asipenko commented on #36
checked

[2020-04-20 13:45] Roberrtt commented on #51
not done, for not full screen
[Video.zip](https://github.com/BeamMW/web-wallet/files/4503701/Video.zip)

[2020-04-20 14:05] VladislavKulyba commented on #40
checked

[2020-04-20 14:19] Roberrtt commented on #20
checked

[2020-04-20 15:17] VladislavKulyba commented on #46
Highlighting doesn't disappear after deleting symbols of incorrect password
![Snag_1bbfd8f](https://user-images.githubusercontent.com/51320829/79768122-ffb6e080-8332-11ea-9664-68dcf57b715b.png)

[2020-04-20 15:45] VladislavKulyba commented on #33
checked

[2020-04-20 19:02] Roberrtt commented on #57
The small screen starts with the wallet login screen
![Screenshot_182](https://user-images.githubusercontent.com/50007056/79789225-8af39e80-8352-11ea-84a2-b83afdeee056.png)

[2020-04-21 07:56] Roberrtt commented on #61
The button doesn't work when we click on it
![Screenshot_186](https://user-images.githubusercontent.com/50007056/79840410-8664cf80-83be-11ea-932c-f3acaa9585ef.png)

[2020-04-21 08:09] VladislavKulyba commented on #45
checked

[2020-04-21 09:03] Denis-Asipenko commented on #37
checked

[2020-04-21 09:05] Roberrtt commented on #60
Send button don't work. It doesn't send the amount
![Screenshot_190](https://user-images.githubusercontent.com/50007056/79847463-6f2adf80-83c8-11ea-9a70-0add9f184a99.png)

[2020-04-21 09:09] Denis-Asipenko commented on #39
Need to place the icon in accordance with the design, and replace it with the correct one.
![image](https://user-images.githubusercontent.com/45556620/79847798-e496b000-83c8-11ea-9aa7-014c5305f112.png)

[2020-04-21 09:11] Roberrtt commented on #59
Please make the sorting work when you first click on the fields on the address page.
[Video.zip](https://github.com/BeamMW/web-wallet/files/4508902/Video.zip)

[2020-04-21 09:17] Denis-Asipenko commented on #38
@iscander01 this point not work.

@dariatarakanova this point cannot be implemented on the web-wallet.

Think about other possibilities to copy the address  or leave only one possibility :
-by clicking on action menu (3 dots)

[2020-04-21 10:00] dariatarakanova opened #74 "Send screen - There is no "total available" item and "add all" button"
There is no "total available" item and "add all" button

design: https://zpl.io/VO8yEd1

![image](https://user-images.githubusercontent.com/47353570/79852893-f92a7680-83cf-11ea-9f6f-0736b7775d3f.png)

[2020-04-21 10:12] VladislavKulyba commented on #44
Remove "Full view" line from action menu for fullscreen mode
![Snag_b93813](https://user-images.githubusercontent.com/51320829/79854180-bc5f7f00-83d1-11ea-8f14-036ccdd6042b.png)

[2020-04-21 11:01] Roberrtt commented on #63
We only show the details and copy buttons for transactions with the sent status
![Screenshot_194](https://user-images.githubusercontent.com/50007056/79858719-8671c900-83d8-11ea-9a78-19186361f1bb.png)
![Screenshot_193](https://user-images.githubusercontent.com/50007056/79858722-87a2f600-83d8-11ea-9a98-f48e91097085.png)

[2020-04-21 11:48] Denis-Asipenko commented on #10
When changing outgoing address we need to display "MY ACTIVE ADDRESSES" list.
design:
https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/5e31937ce950ee9641b9d36a
![image](https://user-images.githubusercontent.com/45556620/79862563-f2573000-83de-11ea-8ea4-3b9c93e9f6e9.png)
Actua: when click "change" just changes the address.

[2020-04-21 12:13] Denis-Asipenko commented on #5
search on address, name or comment doesn't work.

[2020-04-21 12:30] Denis-Asipenko commented on #35
this version was implemented.

[2020-04-21 14:12] VladislavKulyba commented on #21
Pushing on these buttons don't lead to any further actions
![Snag_1934f6f](https://user-images.githubusercontent.com/51320829/79875927-07d65500-83f3-11ea-841e-fb725a66d300.png)

[2020-04-21 14:36] dariatarakanova opened #75 "Full view - remove "full view" from dropdown options"
Please remove "full view" from full view version
![image](https://user-images.githubusercontent.com/47353570/79878805-87b1ee80-83f6-11ea-896d-0ab471bf25f3.png)

[2020-04-21 14:43] dariatarakanova opened #76 "Add "close" icon on some popups"
Please add "close" icon on popups if there are no any buttons
example:
https://zpl.io/Vk6vl8M , https://zpl.io/agJdK9R ,

or you chose between two actions and there is no "cancel" or "back" button
example:
https://zpl.io/bJR4lZ6

[2020-04-22 08:10] dariatarakanova commented on #67
here are 3 size for icon in different format (png 1x, png 2x, svg)

[beam_web-wallet_icons.zip](https://github.com/BeamMW/web-wallet/files/4514613/beam_web-wallet_icons.zip)

[2020-04-22 09:16] dariatarakanova commented on #66
Added header to the screens:
https://app.zeplin.io/project/5de7758cdc60cf574430983c/dashboard?seid=5dfa61bcea9fee1d08eb9ce1

please pay attention: https://zpl.io/bA11Wwe - here I reduce blocks height for seed words.. please also do it if needed

please place logo in header only on screens where is no another logo
![image](https://user-images.githubusercontent.com/47353570/79963548-3a835a80-8492-11

[2020-04-22 11:41] Roberrtt commented on #59
Please make the sorting work when you first click on the fields on the  wallet-send tab
![Screenshot_198](https://user-images.githubusercontent.com/50007056/79977644-488fa600-84a7-11ea-989e-2df88b6ecc10.png)

[2020-04-22 11:42] Roberrtt commented on #74
checked

[2020-04-22 11:42] #74 closed

[2020-04-22 11:44] Roberrtt commented on #75
checked

[2020-04-22 11:44] #75 closed

[2020-04-22 11:46] Roberrtt commented on #77
checked

[2020-04-22 12:17] VladislavKulyba commented on #53
If you press on action menu when burger menu is opened, action menu will be hiden behind main menu.
![Snag_13a0f2b](https://user-images.githubusercontent.com/51320829/79980831-5d226d00-84ac-11ea-8535-78d8e76c4630.png)

[2020-04-22 12:22] Roberrtt commented on #19
In small screen no tabs:
- Available
- In progress
- Spent
- Unavailable
![Screenshot_199](https://user-images.githubusercontent.com/50007056/79981274-16814280-84ad-11ea-8534-c1ed0b1b9fbe.png)

[2020-04-22 12:52] VladislavKulyba commented on #34
checked

[2020-04-22 13:10] Denis-Asipenko commented on #65
checked

[2020-04-22 13:16] Denis-Asipenko commented on #49
checked

[2020-04-22 13:58] Roberrtt commented on #51
checked

[2020-04-22 14:08] Denis-Asipenko commented on #41
design:
![image](https://user-images.githubusercontent.com/45556620/79992177-d8d7e600-84bb-11ea-951a-6921442e537e.png)
actual:
![image](https://user-images.githubusercontent.com/45556620/79992255-e9885c00-84bb-11ea-849e-793b9e4573da.png)

[2020-04-23 07:19] Denis-Asipenko opened #83 "Wallet doesn't create again after using "Remove current wallet" in settings."
Str:
1. Install expansion web-wallet
2. Create a new wallet.
3. Go to Settings.
4. Use function"Remove current wallet".
5. Again create a new wallet.
Expected: new wallet is created.
Actual: new wallet doesn't create.
[glcbdcgeepbblgenidkdjlnddmomgdom-1587625577947.log](https://github.com/BeamMW/web-wallet/files/4520820/glcbdcgeepbblgenidkdjlnddmomgdom-1587625577947.log)

[2020-04-23 07:39] Denis-Asipenko commented on #69
text more bold in the web wallet than on the design.
![image](https://user-images.githubusercontent.com/45556620/80072228-a0351c80-854e-11ea-8a01-7bac48cae61c.png)
![image](https://user-images.githubusercontent.com/45556620/80072285-b216bf80-854e-11ea-9b1c-1f7cf5595d7d.png)

[2020-04-23 07:59] Roberrtt commented on #47
The address is not fully inserted
![Screenshot_211](https://user-images.githubusercontent.com/50007056/80074189-7b8e7400-8551-11ea-9a83-0b4cc494e8c6.png)

[2020-04-23 08:40] Roberrtt commented on #56
The buttons don't work in the settings
[Video.zip](https://github.com/BeamMW/web-wallet/files/4521260/Video.zip)

[2020-04-23 09:47] VladislavKulyba commented on #50
checked

[2020-04-23 10:16] Denis-Asipenko commented on #72
the arrow needs to be raised up a little
![image](https://user-images.githubusercontent.com/45556620/80087956-87cffc80-8564-11ea-92f2-e483484b80e0.png)

[2020-04-23 10:18] Denis-Asipenko commented on #48
checked

[2020-04-23 10:38] Denis-Asipenko commented on #73
not fix
![image](https://user-images.githubusercontent.com/45556620/80090106-a8e61c80-8567-11ea-8c58-3aef2c307706.png)

[2020-04-23 10:47] Roberrtt commented on #63
1. The address of the sender and receiver are different if we check
![Screenshot_214](https://user-images.githubusercontent.com/50007056/80090840-ce275a80-8568-11ea-8c01-34db7a8438f9.png)

2. There are no  payment proof details for sent transaction  in small screen
https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/5de7cc1dbd578153b04a4c79

[2020-04-23 10:49] VladislavKulyba commented on #44
Checked

[2020-04-23 10:54] VladislavKulyba commented on #54
Not done
![Snag_e0aba0](https://user-images.githubusercontent.com/51320829/80091556-f499c580-8569-11ea-9636-bf8195b5a3bf.png)

[2020-04-23 11:14] dariatarakanova opened #84 "Add Privacy Mode to full view wallet"
Please add it ti the overflow menu
https://zpl.io/V4xN36p

[2020-04-23 11:15] Roberrtt commented on #57
1. The start screen hasn't 'restore wallet' button
https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/5de775ed015f1e5727140dfe

2. After "seed phrase" screen if we click complete verification, there is no popup "save seed phrase"
https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/5df3b57b4ee38d47bc3f4ac5

3. If you go back from the password screen, there is no pop-up "Return

[2020-04-23 11:57] VladislavKulyba commented on #54
1. This menu should be done only for transactions with status "Sent"
![Snag_1138cd5](https://user-images.githubusercontent.com/51320829/80096094-b86a6300-8571-11ea-9b30-31b14226474c.png)
Right now it also show for different statuses:
![Snag_11209cf](https://user-images.githubusercontent.com/51320829/80095956-7ccf9900-8571-11ea-8cbe-46ced4b29eed.png)
For other statuses should be only "Delete transa

[2020-04-23 12:50] VladislavKulyba commented on #18
checked

[2020-04-23 14:38] VladislavKulyba commented on #2
Amounts are shown insecurity mode for fullscreen
![Snag_1655962](https://user-images.githubusercontent.com/51320829/80103815-33397b00-857e-11ea-8dd1-34ca5ea42699.png)

[2020-04-24 07:42] VladislavKulyba commented on #23
1. Screen with "Creating wallet" loading bar is missed for both (extension and fullscreen) views.
small: https://zpl.io/Vq5pRm7
full: https://zpl.io/bL0159G
2. "Get coins" field is unexploited in both (extension and fullscreen) views.
![Snag_6922fa](https://user-images.githubusercontent.com/51320829/80186621-f1104800-8616-11ea-852c-0b5cee64ded2.png)
![Snag_693980](https://user-images.githubusercon

[2020-04-24 08:38] VladislavKulyba opened #85 "Cannot create another wallet after using Remove current wallet"
For both views.
Pre-conditions:
There is a created wallet
Steps to reproduce:
1. Go to Settings
2. Choose remove current wallet. Popup is opened
3. Enter password and delete this wallet. Create/restore screen is opened
4. Choose create wallet. Seed phrase screen is opened
5. Press I understand.
6. Than press I will do it later or choose complete verififcation (in this case complete verification on

[2020-04-24 08:44] VladislavKulyba opened #86 "After removing current wallet starts with "Open your wallet" screen"
Extension view:
Pre-conditions:
There is a created wallet
Steps to reproduce:
1. Go to Settings
2. Choose remove current wallet. Popup is opened
3. Enter password and delete this wallet. Create/restore screen is opened
4. Press on extension view icon (close this window).
5. Press again on extension view icon (open that window)

Expected: Wallet starts with "Create new wallet" screen
Actual: Wallet

[2020-04-24 09:10] VladislavKulyba opened #87 "Password errors is disabled for created password screen"
For both views.
Steps to reproduce:
1. Choose create new wallet.  Seed phrase screen is opened
2. Press I understand.
3. Than press I will do it later or choose complete verififcation (in this case complete verification on another screen). After successful steps "Create password" screen is opened
4. Put 12 in password field and 1 in password confirmation field.
5. Press "start using your wallet" b

[2020-04-24 09:50] VladislavKulyba opened #88 "Issues with the Addresses screen"
1. Wallet created with address, which has wrong expiration time
![Snag_da8325](https://user-images.githubusercontent.com/51320829/80198064-3d17b880-8628-11ea-8a29-5071c9844d74.png)
2. Addresses don't expire automatically
3. Action menu in Addresses screen doesn't work at all
4. Address which created on receive screen with different comment hasn't it name in the addresses screen
![Snag_e60d01](http

[2020-04-27 08:25] dariatarakanova commented on #2
please add "eye" icons https://zpl.io/bzZPNJM

[2020-05-04 09:14] VladislavKulyba commented on #38
checked

[2020-05-04 09:29] VladislavKulyba commented on #67
checked

[2020-05-04 09:55] VladislavKulyba commented on #53
Please add this separetion line for Security Mode
![Snag_daf3b2](https://user-images.githubusercontent.com/51320829/80954466-1a468a80-8e06-11ea-9782-d96944040e48.png)
@dariatarakanova Please, update information in design. This mode should be renamed to Security mode as it's done in wallet

[2020-05-04 09:57] dariatarakanova opened #92 "Change "Secondary currency" in general setting to "Show amounts in""
Please change "Secondary currency" in general setting to "Show amounts in" and add the text when it was updated
https://zpl.io/VD9QOgv

![image](https://user-images.githubusercontent.com/47353570/80954362-e703fb80-8e05-11ea-9222-e5d3cf7c5914.png)

[2020-05-04 10:12] VladislavKulyba commented on #39
checked

[2020-05-04 10:16] VladislavKulyba commented on #69
"Scalable confidential cryptocurrency" is missed for login screen in extension view
![Snag_f12035](https://user-images.githubusercontent.com/51320829/80956233-7ced5580-8e09-11ea-9676-04f83e89b8fe.png)

[2020-05-04 10:29] VladislavKulyba commented on #41
checked

[2020-05-04 11:24] dariatarakanova opened #93 "add lines under text fields on Server Settings"
Please add lines under text fields https://zpl.io/boXX0Wo

![image](https://user-images.githubusercontent.com/47353570/80961080-d60db700-8e12-11ea-8a57-8ceb6f7b4eca.png)

[2020-05-04 12:31] dariatarakanova commented on #69
For extension view:

Please leave the logo big on first login screen https://zpl.io/VQ555ZP and https://zpl.io/bA19nR6
On other login/restore screen make it smaller
https://zpl.io/aMggOPd
https://zpl.io/VKzw6BR
https://zpl.io/bzZZgJM

[2020-05-04 12:45] VladislavKulyba commented on #85
It's dublicate of #83

[2020-05-04 12:45] #85 closed

[2020-05-04 13:20] VladislavKulyba commented on #83
Sometimes this behaviour is reproduced:
[2020-05-04_14-57-27.zip](https://github.com/BeamMW/web-wallet/files/4574669/2020-05-04_14-57-27.zip)
There is another situation when it leads to create screen again after passing the password screen:
[2020-05-04_15-05-58.zip](https://github.com/BeamMW/web-wallet/files/4574684/2020-05-04_15-05-58.zip)
logs:  [jkenjmlecacidpglojikcgkobfekbbcp-1588597825653.lo

[2020-05-04 14:27] VladislavKulyba commented on #84
1. In the status bar should be only one symbol of security mode according to design: https://zpl.io/beJx74D
2. Status should be shown with its own colour in security mode.
![Snag_1d696b4](https://user-images.githubusercontent.com/51320829/80976760-7e7c4500-8e2c-11ea-9348-19d1ad8cdf0c.png)

[2020-05-04 14:31] VladislavKulyba commented on #84
Checked

[2020-05-04 14:31] #84 closed

[2020-05-04 14:32] VladislavKulyba commented on #2
1. In the status bar should be only one symbol of security mode according to design: https://zpl.io/beJx74D
2. The status should be shown with its own colour in security mode.
![Snag_1da2b15](https://user-images.githubusercontent.com/51320829/80977180-0a8e6c80-8e2d-11ea-9866-4137c8e515d4.png)

[2020-05-04 14:54] VladislavKulyba commented on #46
The "incorrect password" isn't shown only if all the symbols had been deleted. Please, do it as
for the desktop version:
[2020-05-04_17-53-08.zip](https://github.com/BeamMW/web-wallet/files/4575358/2020-05-04_17-53-08.zip)

[2020-05-04 14:57] VladislavKulyba commented on #86
Checked

[2020-05-04 14:57] #86 closed

[2020-05-05 09:43] Denis-Asipenko commented on #78
Aligned, please.
![image](https://user-images.githubusercontent.com/45556620/81053569-f51d4f00-8ecd-11ea-8c0b-d433e1aea160.png)

[2020-05-05 09:55] VladislavKulyba commented on #54
This point still not done

[2020-05-05 10:13] VladislavKulyba commented on #54
Checked

[2020-05-05 10:15] Roberrtt commented on #72
checked

[2020-05-05 10:28] Roberrtt commented on #82
Reduce the circle in the icon slightly on full and small screen.
![Screenshot_271](https://user-images.githubusercontent.com/50007056/81056990-403a6080-8ed4-11ea-8ad7-27f1980718aa.png)

[2020-05-05 13:44] VladislavKulyba commented on #47
checked

[2020-05-05 13:51] VladislavKulyba commented on #79
checked

[2020-05-05 13:56] VladislavKulyba commented on #80
The letters and icon should be highlighted too
![Snag_193015f](https://user-images.githubusercontent.com/51320829/81073928-0035a680-8ef1-11ea-89ea-9f9a4a700787.png)

[2020-05-05 14:23] VladislavKulyba commented on #66
Checked

[2020-05-06 12:36] VladislavKulyba commented on #59
1. Please, highlight the name of default sorting column
![Snag_155e13d](https://user-images.githubusercontent.com/51320829/81176928-8cf26a00-8fae-11ea-9dfa-c05d9e600f8b.png)
2. After clicking on column few seconds later sorting will be changed. it's reproduce when there are equal values
[2020-05-06_15-35-19.zip](https://github.com/BeamMW/web-wallet/files/4586729/2020-05-06_15-35-19.zip)

[2020-05-06 13:15] VladislavKulyba commented on #60
checked

[2020-05-06 13:20] VladislavKulyba commented on #73
Checked

[2020-05-08 06:58] VladislavKulyba commented on #100
Checked

[2020-05-08 07:16] VladislavKulyba commented on #103
Checked

[2020-05-08 07:17] VladislavKulyba commented on #107
Checked

[2020-05-08 07:19] VladislavKulyba commented on #106
Checked

[2020-05-08 07:30] VladislavKulyba commented on #82
Checked

[2020-05-08 08:00] VladislavKulyba commented on #69
Checked

[2020-05-08 08:02] VladislavKulyba commented on #53
Checked

[2020-05-08 08:15] VladislavKulyba commented on #78
Checked

[2020-05-08 08:20] VladislavKulyba commented on #92
This data isn't actual
![Snag_6ba715](https://user-images.githubusercontent.com/51320829/81386160-3bb4b880-911d-11ea-8831-a805e3cd6259.png)

[2020-05-08 08:22] VladislavKulyba commented on #93
Checked

[2020-05-08 08:22] #93 closed

[2020-05-08 08:44] VladislavKulyba commented on #2
Amount is shown for full list of transactions (after you press "Show all" button) for security mode.
Please, hide amount as it done for main screen
![Snag_81d5bb](https://user-images.githubusercontent.com/51320829/81388666-4a9d6a00-9121-11ea-99b0-75ac70687dbc.png)

[2020-05-12 17:56] iscander01 commented on #68
not relevant

[2020-05-12 17:56] iscander01 commented on #90
not relevant

[2020-05-12 17:56] iscander01 commented on #88
not relevant

[2020-05-12 17:56] iscander01 commented on #21
not relevant

[2020-05-13 07:31] iscander01 commented on #10
not relevant

[2020-05-13 07:33] iscander01 commented on #5
not relevant

[2020-05-13 07:33] iscander01 commented on #61
not relevant

[2020-05-13 08:09] iscander01 commented on #113
not relevant

[2020-05-13 08:36] #88 closed

[2020-05-13 08:39] VladislavKulyba commented on #115
checked

[2020-05-13 08:40] VladislavKulyba commented on #114
Checked

[2020-05-13 09:31] VladislavKulyba commented on #105
Please, remove Outgoing field
![Snag_b21e34](https://user-images.githubusercontent.com/51320829/81794722-de9d7600-9513-11ea-8929-0402955a93d1.png)

[2020-05-13 10:00] VladislavKulyba commented on #46
It's done only for login screen. For other fields which require password should be done as for login screen.
Please, do it for all screens which require password (name of screen or popup/picture/comment with same issue):
1. Seed verification popup
![Snag_c83849](https://user-images.githubusercontent.com/51320829/81797291-3ee1e700-9517-11ea-8ef2-f495e66134d1.png)
https://github.com/BeamMW/web-walle

[2020-05-13 10:03] VladislavKulyba commented on #91
checked

[2020-05-13 10:30] VladislavKulyba commented on #118
Please, add placeholder with text Please specify transaction token to this field
![Snag_f3929d](https://user-images.githubusercontent.com/51320829/81801935-da765600-951d-11ea-98d9-675a112e7ef6.png)

[2020-05-13 11:27] VladislavKulyba commented on #2
Checked

[2020-05-13 12:03] VladislavKulyba commented on #87
1. Forbid save password while fields are empty. When fields are empty after pressing save new password should be error "Password can not be empty".
[2020-05-13_14-51-11.zip](https://github.com/BeamMW/web-wallet/files/4621793/2020-05-13_14-51-11.zip)
2. There is no error when you change old password to the same. Should be error with text: "New password cannot be the same as old", as it's done for M

[2020-05-13 12:08] VladislavKulyba commented on #76
checked

[2020-05-13 13:28] VladislavKulyba commented on #70
Please, lower this to the button
![Snag_195ebe4](https://user-images.githubusercontent.com/51320829/81818371-a0657e00-9536-11ea-9fd5-32189e9addd0.png)

[2020-05-13 14:25] VladislavKulyba commented on #116
If receiver adds amount to token, it wouldn't be shown in sender automatically.

[2020-05-14 07:48] VladislavKulyba commented on #118
Please, do it also for extension view
1. Rename "Send to" to "Transaction token"
2. Placeholder should have text "Please specify transaction token"
![Snag_4d1ff5](https://user-images.githubusercontent.com/51320829/81907329-40231a80-95d0-11ea-95fa-57d5e5a851b4.png)

[2020-05-14 14:14] VladislavKulyba commented on #105
Checked

[2020-05-14 14:17] VladislavKulyba commented on #120
Checked

[2020-05-14 14:19] VladislavKulyba commented on #119
Checked

[2020-05-14 15:05] VladislavKulyba commented on #87
Checked

[2020-05-14 15:05] #87 closed

[2020-05-14 15:10] VladislavKulyba commented on #83
Checked

[2020-05-14 15:10] #83 closed

[2020-05-14 15:16] VladislavKulyba commented on #70
Checked

[2020-05-14 15:20] VladislavKulyba commented on #46
Checked

[2020-05-14 15:39] VladislavKulyba commented on #118
1. Rename "Send to" to "Transaction token" in Transaction confirmation popup for fullscreen and transacton confirmation screen for extension view
2. Remove "Outgoing address" in Transaction confirmation popup for fullscreen
![Snag_1f545dd](https://user-images.githubusercontent.com/51320829/81953972-f870b300-9610-11ea-94dd-f0578ffb9c17.png)
3. If firstly put amount and only after paste token, "next

[2020-05-14 15:43] VladislavKulyba commented on #112
checked

[2020-05-15 08:15] VladislavKulyba commented on #94
checked

[2020-05-15 12:29] VladislavKulyba commented on #76
Please, add "close" icon to payment proof popup
![Snag_1133ed4](https://user-images.githubusercontent.com/51320829/82050366-b3a45500-96c0-11ea-8433-cc87b9fbc0da.png)

[2020-05-18 11:11] VladislavKulyba opened #127 "Change colors for failed and expired transaction in transaction details from show all"
"failed" should be red
"expired" should be grey
![Snag_11a2251](https://user-images.githubusercontent.com/51320829/82207011-daa59580-9911-11ea-8339-e201f3179b2d.png)

[2020-05-18 11:17] VladislavKulyba opened #128 "Remove Confirmation status from alltransaction details screens"
![Snag_11af735](https://user-images.githubusercontent.com/51320829/82207106-fa3cbe00-9911-11ea-9e9f-8d3b660718a7.png)

[2020-05-19 07:24] iscander01 opened #132 "Web Wallet: get amount from token"
Need to add method to the keeper to get amount ​​from existing token

[2020-05-19 10:14] VladislavKulyba opened #130 "Scrollbar is shown on some inappropriate screens"
1.  There is empty scrollbar for all send screen.
![Snag_c2ed9c](https://user-images.githubusercontent.com/51320829/82313654-531f5b80-99d1-11ea-961b-46bc6f03088b.png)

2. This scrollbar will be shown on every screen after some actions on send screen
[2020-05-19_13-09-18.zip](https://github.com/BeamMW/web-wallet/files/4649690/2020-05-19_13-09-18.zip)

3. There is scrollbar after Logout from wallet

[2020-05-19 11:06] VladislavKulyba commented on #99
Checked

[2020-05-19 11:31] VladislavKulyba commented on #76
checked

[2020-05-19 11:31] #76 closed

[2020-05-19 11:32] VladislavKulyba commented on #125
Checked

[2020-05-19 12:36] VladislavKulyba opened #131 "Wallet doesn't remove from fullview after removing wallet in extension view"
![Snag_e9b691](https://user-images.githubusercontent.com/51320829/82317622-3dad3000-99d7-11ea-9ff9-0c15ce6333f3.png)
If wallet was removed, it should automatically closed in both views.

[2020-05-19 12:58] VladislavKulyba commented on #124
checked

[2020-05-19 13:20] VladislavKulyba commented on #117
Token doesn't shown for received transactions
![Snag_1752a46](https://user-images.githubusercontent.com/51320829/82331236-858a8200-99ec-11ea-8ac2-6772cb0e196c.png)

[2020-05-20 14:46] VladislavKulyba commented on #111
checked

[2020-05-22 08:56] VladislavKulyba commented on #121
3. It's not done for extension view
![Snag_9649e0](https://user-images.githubusercontent.com/51320829/82650337-38dcbc00-9c23-11ea-80a7-033e5eb1fb9b.png)

4. Please do the same (https://github.com/BeamMW/web-wallet/issues/121#issue-618162533) for status: "waiting for sender"
![Snag_9363fe](https://user-images.githubusercontent.com/51320829/82650049-c79d0900-9c22-11ea-889a-e61c12d25a8f.png)

[2020-05-22 12:48] VladislavKulyba commented on #128
checked

[2020-05-22 12:48] #128 closed

[2020-05-22 12:51] VladislavKulyba commented on #118
checked

[2020-05-25 16:01] VladislavKulyba commented on #122
checked

[2020-05-25 16:05] VladislavKulyba commented on #92
checked

[2020-05-25 16:05] #92 closed

[2020-05-25 16:06] VladislavKulyba commented on #71
Checked

[2020-05-26 13:55] VladislavKulyba commented on #117
checked

[2020-06-04 13:45] dariatarakanova opened #133 "Indicator "beta version" + restore doesn't support"
Please add line to the top on all screens: https://zpl.io/VDdWj6l

![image](https://user-images.githubusercontent.com/47353570/84360214-6f7a7680-abd2-11ea-9873-2a3eb9195c03.png)

On login screens please add text "Restore is not supported in this Beta version." under the button: https://zpl.io/bzR7Qll
![image](https://user-images.githubusercontent.com/47353570/84360327-92a52600-abd2-11ea-813d-778ee

[2020-06-10 06:12] #22 closed

[2020-06-10 06:12] #1 closed

[2020-06-11 09:30] VladislavKulyba commented on #101
checked

[2020-06-11 09:31] VladislavKulyba commented on #121
Checked

[2020-06-11 10:00] VladislavKulyba commented on #129
checked

[2020-06-11 10:16] VladislavKulyba commented on #127
checked

[2020-06-11 10:16] #127 closed

[2020-06-11 13:47] VladislavKulyba commented on #56
Checked

[2020-06-11 13:47] #56 closed

[2020-06-11 13:48] VladislavKulyba commented on #97
checked

[2020-06-11 13:49] VladislavKulyba commented on #98
Checked

[2020-06-12 13:37] VladislavKulyba commented on #131
checked

[2020-06-12 13:37] #131 closed

[2020-06-12 13:54] VladislavKulyba commented on #64
checked

[2020-06-12 13:54] VladislavKulyba commented on #102
checked

[2020-06-12 13:55] VladislavKulyba commented on #43
waiting for https://github.com/BeamMW/beam/issues/1436

[2020-06-18 23:23] chapati commented on #123
This is a problem not at service side.
An empty identity is passed in amountUpdated() method of the receiver component

[2020-06-22 12:52] VladislavKulyba commented on #108
checked

[2020-06-22 12:54] VladislavKulyba commented on #133
please add text "Restore is not supported in this Beta version." under the 'open your wallet' button
![Snag_197c4a](https://user-images.githubusercontent.com/51320829/85289815-ad17b300-b4a0-11ea-87aa-a8f9a0ee2e5f.png)

[2020-06-22 12:56] VladislavKulyba commented on #80
checked

[2020-06-22 13:21] VladislavKulyba commented on #116
Android beam wallet doesn't recognise QR code.
Tested on masternet

[2020-06-22 13:22] VladislavKulyba commented on #130
checked

[2020-06-22 13:22] #130 closed

[2020-06-22 14:13] chapati commented on #132
This is a problem not at service side. Should be fixed in the web wallet js code.
An empty identity is passed in amountUpdated() method of the receiver component

[2020-06-22 20:10] chapati opened #135 "Show owner key"
Need to add an option to show owner key. The same as in the GUI wallet.

[2020-06-22 20:11] chapati opened #136 "Complete seed verification"
Complete seed verification in settings doesn't do anything at the moment.

[2020-06-22 21:07] chapati commented on #138
Server down.

![gnome-shell-screenshot-IHSRM0](https://user-images.githubusercontent.com/12074933/85335376-96477f80-b4e5-11ea-8fc0-36d9f7d9e69e.png)

[2020-06-22 21:37] chapati commented on #123
Now transactions are cancelled on relogin.

**Need to implement:**

1. params: {fresh_wasm_keeper: true/false} on wallet open

2. add new 'release' api call with params: {cancel_txs: true} on logout

3. Show message to the use on logout/close similar to what we have in the UI wallet
![11](https://user-images.githubusercontent.com/12074933/85337647-87fb6280-b4e9-11ea-99de-3b60689feef9.png)
Text sho

[2020-06-23 22:04] iscander01 commented on #62
Removed until export/import will be added in service

[2020-06-25 12:57] VladislavKulyba commented on #116
Not relevant

[2020-06-25 13:49] VladislavKulyba commented on #62
Checked that it was removed

[2020-06-25 16:06] iscander01 commented on #62
Need to implement export/import on service

[2020-06-25 16:07] iscander01 commented on #89
Save logs (client side) from current session

[2020-06-25 16:15] iscander01 commented on #137
Discussion results:
1. Remove Save wallet logs period selector
2. Remove currency selector
3. Combine dns/ip and ip:port

[2020-06-25 16:54] VladislavKulyba commented on #132
checked

[2020-06-25 16:54] #132 closed

[2020-06-25 16:58] VladislavKulyba commented on #133
checked

[2020-06-25 16:58] #133 closed

[2020-06-26 06:40] VladislavKulyba commented on #57
1. not relevant
2-3. done and checked

[2020-06-26 08:28] VladislavKulyba commented on #136
the function complete verification in the settings should be blocked (or disapeared) if seed phrase had been verified.
[2020-06-26_11-22-00.zip](https://github.com/BeamMW/web-wallet/files/4835847/2020-06-26_11-22-00.zip)
[2020-06-26_11-27-01.zip](https://github.com/BeamMW/web-wallet/files/4835864/2020-06-26_11-27-01.zip)

[2020-06-26 10:59] VladislavKulyba commented on #104
Checked

[2020-06-26 11:23] VladislavKulyba commented on #141
This task is part of #109

[2020-06-26 11:23] VladislavKulyba commented on #109
Checked

[2020-06-29 14:32] VladislavKulyba commented on #43
checked

[2020-07-02 08:42] VladislavKulyba commented on #137
Checked

[2020-07-02 08:42] VladislavKulyba commented on #140
Checked

[2020-07-02 08:43] VladislavKulyba commented on #89
Checked

[2020-07-02 08:53] VladislavKulyba commented on #81
![Snag_2c6c3bf](https://user-images.githubusercontent.com/51320829/86338161-aa644d00-bc5a-11ea-8ba8-ca20f1847c90.png)

This link should lead to https://github.com/BeamMW

[2020-07-06 10:27] VladislavKulyba commented on #135
first popup:
1. Fix mistake in popup name (owner)
2. Change icon and button name as it's done in desktop
![image](https://user-images.githubusercontent.com/51320829/86583146-75723600-bf8b-11ea-8a7d-b46879f70b1f.png)

second popup:
1. Change 'cancel' to 'close'
2. Change 'ok' button to 'copy'
3. Add appropriate text in ths popup
4. Fix name of this popup to 'Owner key'
![image](https://user-images.

[2020-07-06 10:27] gingervik commented on #58
we need description and attached design

[2020-07-06 10:28] VladislavKulyba commented on #135
isn't relevant

[2020-07-06 10:28] #135 closed

[2020-07-06 13:22] VladislavKulyba commented on #81
checked

[2020-07-06 13:49] VladislavKulyba commented on #143
Checked

[2020-07-06 16:25] VladislavKulyba commented on #142
3. This point still reproduced

[2020-07-06 16:27] VladislavKulyba commented on #23
checked

[2020-07-06 16:27] #23 closed

[2020-07-06 16:32] VladislavKulyba commented on #136
When user try to back from verification for some reason, verification return him to creating wallet page.

[2020-07-06_16-44-35.zip](https://github.com/BeamMW/web-wallet/files/4880149/2020-07-06_16-44-35.zip)

[2020-07-07 12:11] VladislavKulyba commented on #126
checked

[2020-07-07 12:48] VladislavKulyba commented on #63
1. Will be done in the next sprint
2. Checked

[2020-07-07 13:09] VladislavKulyba commented on #136
checked

[2020-07-07 13:09] #136 closed

[2020-07-07 13:10] VladislavKulyba commented on #142
Checked

[2020-07-07 13:18] VladislavKulyba commented on #19
Checked

[2020-07-07 17:50] iscander01 commented on #123
1. done
2. cannot be done with extension popup view

[2020-07-07 19:21] VladislavKulyba commented on #138
checked

[2020-07-07 20:04] VladislavKulyba commented on #123
Checked according to this. Need to find a solution with error message in extension view in next sprint

[2020-07-08 13:29] VladislavKulyba commented on #141
checked

[2020-07-09 09:36] VladislavKulyba opened #145 "Restore for Web wallet"
make a restore according to design when this task will be done https://github.com/BeamMW/beam/issues/1504

extension view: https://zpl.io/VQj6yjx
fullscreen: https://zpl.io/b6zG5ng

[2020-07-10 08:37] sasha-abramovich commented on #146
Following the talk with @chapati, "Loading wallet data" is a good message to write above the loader.

[2021-03-18 07:19] dariatarakanova opened #163 "Web-wallet full view: receive screen"

[2021-03-18 18:50] dariatarakanova opened #164 "Web-wallet full view: send screen"
1) Please replace elements in header according to updated design https://zpl.io/agxBy9Z
![image](https://user-images.githubusercontent.com/47353570/111679988-6934bd00-882a-11eb-931f-c5f0b1bf7669.png)

2) Add "back' arrow and screen name "Receive" https://zpl.io/agxBy9Z
![image](https://user-images.githubusercontent.com/47353570/111680051-7baef680-882a-11eb-9b64-6e81d04d062a.png)

3) Empty screen h

[2021-03-18 18:53] dariatarakanova opened #165 "Web-wallet small view: send screen"

[2021-03-20 07:07] dariatarakanova opened #166 "Web-wallet full view: receive screen"
1) Please replace elements in header according to updated design https://zpl.io/aRn04Jr
![image](https://user-images.githubusercontent.com/47353570/111585764-76b95b00-87c8-11eb-8fc7-37fa1e4ef46a.png)

2) Add "back' arrow and  screen name "Receive" https://zpl.io/aRn04Jr
![image](https://user-images.githubusercontent.com/47353570/111585890-acf6da80-87c8-11eb-8735-228aae4d0dfb.png)

3) Empty screen

[2021-03-31 15:04] dariatarakanova commented on #166
@iscander01 - please pay attention on additional updates:

1) make tile titles in white colors https://zpl.io/bWMnv7e
![image](https://user-images.githubusercontent.com/47353570/113166277-4901f680-924b-11eb-9068-25a3d46197ec.png)

2) Here leave subtitles in grey color https://zpl.io/VYLnNML
![image](https://user-images.githubusercontent.com/47353570/113166574-8f575580-924b-11eb-90f4-ffc8d320b48e.p

[2021-03-31 15:05] dariatarakanova commented on #163
@iscander01 - please pay attention on additional updates:

1) make tile titles in white colors https://zpl.io/bWMnv7e
![image](https://user-images.githubusercontent.com/47353570/113166277-4901f680-924b-11eb-9068-25a3d46197ec.png)

2) Here leave subtitles in grey color https://zpl.io/VYLnNML
![image](https://user-images.githubusercontent.com/47353570/113166574-8f575580-924b-11eb-90f4-ffc8d320b48e.p

[2021-03-31 15:28] dariatarakanova commented on #165
@iscander01 please pay attention on additional changes

1) Please add "available" to AMOUNT block https://zpl.io/Vk4z3YZ
![image](https://user-images.githubusercontent.com/47353570/113169891-b2cfcf80-924e-11eb-90d8-23adbac8ba51.png)

2) Make titles in white and sub-title in gray colors https://zpl.io/Vk4z3YZ
![image](https://user-images.githubusercontent.com/47353570/113170015-d5fa7f00-924e-11eb-9

[2021-03-31 15:47] dariatarakanova commented on #164
@iscander01 please pay attention on additional changes

1) Make titles in white and sub-title in gray colors https://zpl.io/agxBy9Z
![image](https://user-images.githubusercontent.com/47353570/113172715-5a4e0180-9251-11eb-9a85-52487704c352.png)

Gray sub-title https://zpl.io/2jNRelp and https://zpl.io/VDjXgQg
![image](https://user-images.githubusercontent.com/47353570/113172767-6a65e100-9251-11eb-8

[2021-04-30 11:13] alexandrashelenkova opened #168 "Web-wallet full view: main screen"

[2021-04-30 13:23] dariatarakanova opened #170 "Send - small screen (simplified version)"
https://zpl.io/be3pLrB

[2021-04-30 13:36] dariatarakanova commented on #165
Please leave all features **regarding contacts (saving/chosing etc)** to further releases.
For the first release please follow this #170

[2021-04-30 14:16] dariatarakanova opened #171 "Receive - small screen (before address book)"
Let's make a simplified version for the first release.
And all these contact's feature leave for future releases #163

Design: https://zpl.io/VQN8Brm

1) Leave  only there tiles: Transaction types, New address, Requested Amount, Comment https://zpl.io/aX78Pgl
![image](https://user-images.githubusercontent.com/47353570/116707232-1a587680-a9d7-11eb-9522-7e234328e8df.png)

2) Regular type https://zpl

[2021-04-30 14:32] dariatarakanova opened #172 "Receive - big screen (simplified)"
https://zpl.io/br36M1r

[2021-04-30 14:33] dariatarakanova commented on #166
lets make first simplified version https://github.com/BeamMW/web-wallet/issues/172

and will leave contacts feature for future releases

[2021-04-30 14:52] dariatarakanova opened #173 "Send - big screen (simplified)"
Designs: https://zpl.io/bARpl8n

1) Please chnage button "add all" to "max"
![image](https://user-images.githubusercontent.com/47353570/116714676-ab7f1b80-a9de-11eb-8388-d376a1f5b7ff.png)

2) Empty screen https://zpl.io/bz3e6G7
![image](https://user-images.githubusercontent.com/47353570/116714747-bf2a8200-a9de-11eb-85a5-808e714fc746.png)

3) Max Privacy https://zpl.io/bARplXn
![image](https://user

[2021-04-30 14:53] dariatarakanova commented on #164
Lets make simplified version https://github.com/BeamMW/web-wallet/issues/173

All contact's feature we will leave for next releases

[2021-06-10 12:38] Roberrtt commented on #162
checked

[2021-06-10 12:56] Roberrtt commented on #151
Change icon for Lock Wallet button  and make 'W' a capital letter
![Screenshot_291](https://user-images.githubusercontent.com/50007056/121528408-1b33ed80-ca04-11eb-9a36-1963600a6bdb.png)

[2021-06-11 09:05] Roberrtt commented on #148
Recheck after this task https://github.com/BeamMW/web-wallet/issues/179

[2021-06-11 09:13] Roberrtt commented on #153
checked

[2021-06-11 09:15] Roberrtt commented on #149
checked

[2021-06-11 09:17] Roberrtt commented on #147
checked

[2021-06-11 13:49] Roberrtt commented on #145
After pressing the "restore wallet or create a  new one" button, a screen opens for entering the seed phrase.
There is no way to create a new wallet

[2021-06-11 14:50] Roberrtt opened #181 "When you close the utxo tab, a wallet icon is displayed"
https://user-images.githubusercontent.com/50007056/121705496-5bb36a00-cadd-11eb-8b5e-7938cdcf9661.mp4

[2021-06-16 19:22] Sergei-Beam commented on #179
checked

[2021-06-16 19:56] Sergei-Beam commented on #180
checked

[2021-06-16 19:57] Sergei-Beam commented on #146
checked

[2021-06-16 20:35] Sergei-Beam opened #187 "Add ability to switch between assets"
Need to add the ability to switch between assets to make able to sort transaction list by selected asset as on Desktop UI

WEB:
![image](https://user-images.githubusercontent.com/44496108/122288991-e2f84780-cefa-11eb-956a-6a8405284cc4.png)

Desktop UI:
![image](https://user-images.githubusercontent.com/44496108/122289561-877a8980-cefb-11eb-8c47-93361cc34bb0.png)
![image](https://user-images.github

[2021-06-16 20:56] Sergei-Beam commented on #150
@iscander01 According to @dariatarakanova 's comment in the description we should make all tabs names CAPS on UTXO screen

On full
![image](https://user-images.githubusercontent.com/44496108/122292128-5059a780-cefe-11eb-9162-a701a8afa768.png)
and compact modes
![image](https://user-images.githubusercontent.com/44496108/122292282-7f701900-cefe-11eb-8a10-d0215c00b442.png)

[2021-06-17 06:59] Roberrtt commented on #148
The amount is highlighted in red if the transaction has the failed status
![Screenshot_321](https://user-images.githubusercontent.com/50007056/122347465-ba03a100-cf52-11eb-9208-3a1e878ed6c7.png)

[2021-06-17 07:01] Roberrtt commented on #59
checked

[2021-06-17 07:03] Roberrtt commented on #116
After adding a comment, the Qr code changes

[2021-06-17 07:13] Roberrtt commented on #172
2 - Max Privacy doesn't work, need to discuss
3 - There're no "address details " on receive screen

[2021-06-17 07:31] Roberrtt commented on #173
1 - Please change button "add max" to "max"
3,4,5,7 - There're no "address details"  and contact
6- Add Transaction Type  and center the text  to Confirmation screen
![Screenshot_324](https://user-images.githubusercontent.com/50007056/122351848-39936f00-cf57-11eb-9ae4-6ebfc4e8a7e0.png)

[2021-06-17 07:54] Roberrtt opened #188 "After receiving the asset, the table with the asset is not visible"
When we get an asset, the table doesn't appear, only if we switch to another tab and back to the main screen

![Screenshot_325](https://user-images.githubusercontent.com/50007056/122355053-3f3e8400-cf5a-11eb-84ba-20004f96192b.png)

[2021-06-17 08:58] Roberrtt commented on #148
Also the expired status, it should be gray and the amount in accordance with receive(blue)\send(pink)
![Screenshot_327](https://user-images.githubusercontent.com/50007056/122365347-4322d400-cf63-11eb-8c3c-0a709b12eb2b.png)

[2021-06-17 11:04] Roberrtt opened #191 "Wallet restore process"
At the moment
After entering seed phrase, there is a short download and a wallet with 0 balance opens, and gradually, with the synchronization of the wallet, transactions appear, and only when you switch the screen, the balance will be discarded.

Make that the download screen is fully synchronized and when the main screen appears, the balance and all transactions are already displayed

![Screensh

[2021-06-17 11:07] Roberrtt opened #192 "After restoring the wallet, need to confirm the seed phrase"
If we have restored the wallet, confirmation of the seed phrase should not be required
![Screenshot_330](https://user-images.githubusercontent.com/50007056/122385300-4aeb7400-cf75-11eb-860c-0e474a5ca825.png)

[2021-06-17 11:10] Roberrtt opened #193 "Empty file - Report a problem"
If we click "report", an empty file is saved

[2021-06-17 11:17] Roberrtt opened #194 "Ask for password on every Send - it doesn't work"
By default, it is enabled, make it disabled
also, if we turn it off, the message in the pop-up should be " Don't ask password on every Send" as in UI

https://user-images.githubusercontent.com/50007056/122386542-a8cc8b80-cf76-11eb-872c-0e2168a4322a.mp4

![Screenshot_334](https://user-images.githubusercontent.com/50007056/122386489-9ce0c980-cf76-11eb-9404-c4943ac6a5de.png)

[2021-06-17 12:25] Roberrtt opened #196 "Restore wallet or create a new one - open restore wallet screen"
If we don't provide the possibility of creating wallet, then we need to change name of the button.
If it 's possible to create awallet then there should be a screen with the choice create or restore wallet

https://user-images.githubusercontent.com/50007056/122396010-3b255d00-cf80-11eb-89af-3c7be41ea4da.mp4

[2021-06-18 09:22] Roberrtt opened #197 "A small amount is displayed incorrectly"
![Screenshot_340](https://user-images.githubusercontent.com/50007056/122538937-be51bc00-d02f-11eb-8e6e-4c0ce5ea27cb.png)

[2021-06-18 09:33] Roberrtt commented on #151
checked

[2021-06-18 09:34] Roberrtt commented on #116
checked

[2021-06-18 10:27] Roberrtt commented on #182
checked

[2021-06-18 10:39] Roberrtt opened #198 "Change the display of the fee in details from GROTH to BEAM"
![Screenshot_342](https://user-images.githubusercontent.com/50007056/122548855-8c922280-d03a-11eb-9002-0c49e76a622c.png)

[2021-06-18 15:20] iscander01 commented on #173
1, 6 - done
3,4,5,7 there is no data in wallet API for "address details" and this version of the design is simplified (without contacts)

[2021-06-21 12:13] Roberrtt opened #202 "Long name asset"
We need to shorten the name of long assets .
- asset name does not fit in the table
- in the transaction list
- in asset information
- on the send screen
- send confirmation

![Screenshot_348](https://user-images.githubusercontent.com/50007056/122759533-b8174600-d2a2-11eb-9a47-45ffcdaabaae.png)
![Screenshot_349](https://user-images.githubusercontent.com/50007056/122759540-b9e10980-d2a2-11eb-9835-4

[2021-06-21 12:16] Roberrtt commented on #183
checked

[2021-06-21 12:30] Roberrtt opened #203 "When the balance is 0, there's selection of the asset on the send\receive screen."
https://user-images.githubusercontent.com/50007056/122762004-8a7fcc00-d2a5-11eb-95b8-962c953bf383.mp4

[2021-06-21 12:50] Roberrtt opened #204 "The transaction type doesn't change if you select offline"
The transaction type doesn't change if you select offline
![Screenshot_351](https://user-images.githubusercontent.com/50007056/122764406-1eeb2e00-d2a8-11eb-89c6-628445a16489.png)

[2021-06-21 13:27] Roberrtt opened #205 "Add "Open in Blockchain Explorer" button for transactions"
Add "Open in Blockchain Explorer" button for transactions
- sent
- receive
- sent own address
- sent max privacy
- sent offline

https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/608e60d7aebe175cb92693ec
![Screenshot_352](https://user-images.githubusercontent.com/50007056/122769679-7049ec00-d2ad-11eb-80ad-71d571dade40.png)

[2021-06-21 13:29] Roberrtt opened #206 "The wallet doesn't see the "public offline address""
If we insert a public offline address, we can't send coins to it

public offline address:
A4Y8nZvGgzE7hvGT5MQ5jxNtqLHZ4VpaubGuBV7NBisW9j63z99VsZWHKECQik2SexgoQopSya2Wh5T9fHy152GZHuSQ1XKLdGH3wsG8uAjPYze8YcbveUkoD8ugtv9eRG4HrqpJ2NSrGMF7AKnBneWko3211rsLCfEcptUpZabE9jirzkLt3Gz7BTTwGBCm67HPP2PrTwdEMWbXSvPpUeeiXozKms1gCXSwH2Q3ysBUyXisVyHKHwQK66zz64p5eUv7Qb4hPPrw3iryEPY89HjR5K6MkFAk1pib9oKEMk

![Screensh

[2021-06-21 13:38] Roberrtt commented on #198
checked

[2021-06-21 13:38] #198 closed

[2021-06-21 13:41] Roberrtt commented on #189
checked

[2021-06-21 13:54] Roberrtt commented on #148
Change the color to gray for the "expired" status
![Screenshot_354](https://user-images.githubusercontent.com/50007056/122773778-4db9d200-d2b1-11eb-9b57-3dd0333bc434.png)

[2021-06-21 15:17] Sergei-Beam opened #207 "Wasm crashed with error "memory access out of bounds""
![image](https://user-images.githubusercontent.com/44496108/122786264-cd00d300-d2bc-11eb-9843-236ea95f9abe.png)

Steps are being refined

[2021-06-21 15:48] Sergei-Beam commented on #150
checked

[2021-06-22 05:46] dariatarakanova opened #210 "Transaction's list: change design"

[2021-06-23 13:27] Sergei-Beam commented on #184
checked

[2021-06-23 13:45] Sergei-Beam commented on #208
checked

[2021-06-23 13:48] Sergei-Beam commented on #188
checked

[2021-06-23 13:48] #188 closed

[2021-06-24 09:09] Roberrtt commented on #206
checked

[2021-06-24 09:09] #206 closed

[2021-06-24 09:10] Roberrtt commented on #148
checked

[2021-06-24 09:10] Roberrtt commented on #204
checked

[2021-06-24 09:10] #204 closed

[2021-06-24 09:19] Roberrtt opened #211 "Add check to the Beam balance when sending assets"
When the beam balance is 0, then on the sending screen, by selecting an asset, we can send it. Add a check to the beam balance if there is not enough of it (for fee) then block the "next" button and write an error that is not enough beam.
![Screenshot_365](https://user-images.githubusercontent.com/50007056/123237401-52b39700-d4e6-11eb-8088-0c0fc280d964.png)
![Screenshot_364](https://user-images.gi

[2021-06-24 11:21] Roberrtt commented on #203
checked

[2021-06-24 11:21] #203 closed

[2021-06-29 13:31] Roberrtt opened #212 "Make an indent between Beam and Currency on sending screen"
![Screenshot_379](https://user-images.githubusercontent.com/50007056/123806302-79fbd100-d8f7-11eb-901d-77976ae63286.png)

[2021-06-29 14:08] Roberrtt opened #213 "Align the text with the icon in popup ( three dots near the transaction)"
Align the text with the icon in the pop-up ( three dots near the transaction)
![Screenshot_382](https://user-images.githubusercontent.com/50007056/123812204-90f0f200-d8fc-11eb-99ca-663fe075c78f.png)
make the pop-up open only when you click in the three dots area

https://user-images.githubusercontent.com/50007056/123812236-98b09680-d8fc-11eb-99a9-41692bcf206e.mp4

[2021-07-01 11:41] AndreyDyakonov commented on #202
1) If we want sent assets (with name is long and all letter are capital) that name do not fit in "sent" tab

![1](https://user-images.githubusercontent.com/85252690/124118461-0a621f00-da7a-11eb-8cea-b4857bccf555.jpg)

2) If we want sent assets (with name is long and all letter are capital) and we don't have enough assets that name do not fit in "amount" tab

![2](https://user-images.githubusercont

[2021-07-01 14:26] KatsiarynaV commented on #173
1. The “Transaction type” field should be under the “Send to” field
![01](https://user-images.githubusercontent.com/68267190/124110429-e1895c00-da70-11eb-9917-7941aa9c0c23.jpg)
![11](https://user-images.githubusercontent.com/68267190/124110558-054ca200-da71-11eb-9e50-f2cfef96ebf4.jpg)
2. On the Confirmation screen remove the text for max privacy and offline transaction type
![05](https://user-imag

[2021-07-01 15:48] kazaryan-t commented on #168
1. Add Export and Import data buttons on the menu.

![Beam Web Wallet — Личный_ Microsoft​ Edge 2021-07-lkjhg](https://user-images.githubusercontent.com/68247034/124152721-72296180-da9c-11eb-8911-a96e9dedc9e0.png)
![full view wallet multiassets - 04 Web Wallet - Zepдлорпа](https://user-images.githubusercontent.com/68247034/124152724-72c1f800-da9c-11eb-9f43-5a983651ecf0.png)

2. The design for №2 f

[2021-08-04 18:11] Sergei-Beam commented on #172
in addition to maximum privacy, need to check the generation of the default address

after check, need to close the next ticket
https://github.com/BeamMW/beam/issues/1807

[2021-08-11 10:29] dariatarakanova opened #217 "Add "Open in Blockchain Explorer" to Asset Info popup"

[2021-08-11 10:54] dariatarakanova commented on #218
duplicate of https://github.com/BeamMW/web-wallet/issues/209

[2021-08-24 21:46] alexandrashelenkova commented on #222
UPDATES:
Do not show USD rate if it was not available at the day of transaction (in tx details)
https://zpl.io/b65ergW
![image](https://user-images.githubusercontent.com/7249484/130694164-f9e8e3a6-1040-47dc-9e27-21a199858f75.png)

https://zpl.io/awdMKOj
![image](https://user-images.githubusercontent.com/7249484/130694174-ee1c6102-4e40-46f0-92ab-22228a36fcca.png)

[2021-08-25 18:56] alexandrashelenkova opened #77 "Full view: Update splash screen with new logo and graphics"
Please update the logo, text "Confidential DeFi Platform and Cryptocurrency" and background illustration
https://zpl.io/a7xgqKp

![image](https://user-images.githubusercontent.com/47353570/134475584-3d9f4067-8114-4b5c-9287-4c2ad17952ce.png)

Current implementation
![image](https://user-images.githubusercontent.com/47353570/134475890-cfb2015a-28c2-47b3-af80-09c2e02a1bc1.png)

[2021-08-26 09:40] dariatarakanova opened #78 "Full view: Receive and Send screen: currency selection"
1) Please add icons to assets.

2) Main rules:
- BEAM should be always first in the dropdown list.
- Other assets in order: let's use first.
- if only BEAM - no need dropdowns and arrow
- scroll can be added if needed. no need to make dropdown list londer. 4 visible coins per time - is ok.

When we have more assets in the wallet, we will redesign the selection.

3) Send screen

3.1) Open coin's li

[2021-08-26 09:41] dariatarakanova opened #21 "Small view: Receive and Send screen: currency selection"
1) Please add icons to assets.

2) Mail rules:
- BEAM should be always first in the dropdown list.
- Other assets in order: let's use first.
- if only BEAM - no need dropdowns and arrow
- scroll can be added if needed. no need to make dropdown list londer. 4 visible coins per time - is ok.

When we have more assets in the wallet, we will redesign the selection.

3) Send screen

3.1) Open coin's li

[2021-08-26 09:42] dariatarakanova opened #79 "Full view: Receive screen. Changes in address flow (add max. anon set)"
1) Add block "Advanced" (closed by default) and place there Maximum anonymity switcher. https://zpl.io/aX785LK
![image](https://user-images.githubusercontent.com/47353570/131176796-1f9d505b-6c71-4871-9fac-ca7de35e369c.png)

2) Switcher default position is OFF.
Off = tx will be Regular (it is combined address - online + offline addresses)
On = tx will be Maximum anonymity set

3) State when switche

[2021-08-26 09:42] dariatarakanova opened #80 "Small view: Receive screen. Changes in address flow (add max. anon set)"
1) Add block "Advanced" (closed by default) and place there Maximum anonymity switcher. https://zpl.io/aX78Pgl
![image](https://user-images.githubusercontent.com/47353570/131031369-d9470711-b8da-4ac3-9050-e3ca1e4eb5c6.png)

2) Switcher default position is OFF.
Off = tx will be Regular (it is combined address - online + offline addresses)
On = tx will be Maximum anonymity set

3) When Switcher is O

[2021-08-26 09:49] dariatarakanova opened #30 "Assets color palette"
The color palette here: https://zpl.io/V4gl8Zy

For the first 20 assets, you can use these colors.
![image](https://user-images.githubusercontent.com/47353570/122907923-48659180-d35c-11eb-8f85-03746ce6c20a.png)

The color is bound to Asset ID, same as it was implemented on desktop and mobile. Please talk to @chapati for details as he invented the mapping.

[2021-08-26 10:07] dariatarakanova opened #81 "Full view: Notifications screen"
1) Please create a notifications screen and add icon to side menu https://zpl.io/awwozRd and an inactive icon here https://zpl.io/beJx74D
![image](https://user-images.githubusercontent.com/47353570/134659583-093f99c8-19d4-482f-8ad9-443f5ef1f564.png)

2) All notifications type are here https://zpl.io/awwozRd
Send
Receive

Send failed
Receive failed

Send offline
Receive offline

Send offline failed

[2021-08-26 10:07] dariatarakanova opened #82 "Small view: Notifications screen"
1) Please create a notifications screen https://zpl.io/29MxMNY and add icon to side menu https://zpl.io/agB6xoD . ( An inactive icon here https://zpl.io/beJx74D )
![image](https://user-images.githubusercontent.com/47353570/134670323-2c539df7-4fc4-42a3-b2b5-0afedc04b653.png)

![image](https://user-images.githubusercontent.com/47353570/134670273-26ebd275-b79b-409b-9324-d366d0c3cb9f.png)

2) All noti

[2021-08-26 10:20] dariatarakanova opened #31 "Loading wallet indicator small fixes (text)"
Changes:
Remove additional header line, leave only secondary text.
Update text: "Syncing with the blockchain: calculating estimated time"
"Syncing with the blockchain: X mins to completion"
"Syncing with the blockchain: less than a minute to completion"
Important: percents should be displayed only in whole numbers (5%, no 5.5%)

New design
https://zpl.io/ble74Bz
https://zpl.io/2yoYXpJ

![image](ht

[2021-08-26 12:39] dariatarakanova opened #73 "Small view: Remote node in web wallet"

[2021-08-26 12:46] dariatarakanova opened #72 "Full view: Rework password screen"
**1) Empty password fields** https://zpl.io/V0zxo69

- replace line input field with box input  field
- place the password requirement below the password and it's confirmation.
- button inactive
- make 10% opacity (instead of 5%) on tapped field (as on "Password" field)
- add Show/hide password icon only on focus fied
![image](https://user-images.githubusercontent.com/47353570/131655078-89cc142e-5

[2021-08-26 12:47] dariatarakanova opened #28 "Small view: Rework password screen"
1) Empty password fields https://zpl.io/25jKjxn
- replace line input field with box input field
- place the password requirement below the password and it's confirmation.
- button inactive
- make 10% opacity (instead of 5%) on selected field (as on "Password" field)
![image](https://user-images.githubusercontent.com/47353570/131639495-c911e5f4-6352-4544-a271-9b82a4eecd82.png)

2) Password filled,

[2021-08-26 14:34] dariatarakanova opened #71 "Small view: Add "Open the DAPP" action for transaction"
1) On the Wallet ( or Transactions) screen add "open the DApp" action for DAPPs transactions.
https://zpl.io/bLJqv5m
![image](https://user-images.githubusercontent.com/47353570/146063142-0b6e1c2f-bdfc-4e6a-8b1c-fa2ad4dea402.png)

2) If the DAPP was removed, show this alert
https://zpl.io/V1AvEB4
![image](https://user-images.githubusercontent.com/47353570/146063577-c9a51e88-aeaa-4a82-a22a-80465c5e7

[2021-08-26 20:53] dariatarakanova opened #70 "Small view: Add "Longest transaction time for maximum anonymity" to Privacy settings"
1) Add "Longest transaction time for maximum anonymity" to Privacy settings https://zpl.io/brGenl1

- add comments for No limit and 72 hours
- 72 hours - default statement
- ![image](https://user-images.githubusercontent.com/47353570/131668892-468cea5a-2a8e-4171-98f2-934105404cc0.png)

2) When Dropdown is closed the arrow looks down https://zpl.io/V154reX
![image](https://user-images.githubusercon

[2021-08-26 20:57] dariatarakanova opened #69 "Small screen: Rework "Change password" in Settings"
1)  Place fields "Current password", "New password" and "Password confirmation" on one screen. https://zpl.io/b6or8Ay
![image](https://user-images.githubusercontent.com/47353570/135051205-908e4a75-459d-492a-ad6b-5e850d738387.png)

2) Make titles in CAPS.
![image](https://user-images.githubusercontent.com/47353570/135051229-a1a163c6-cbe1-486e-8517-c8f79573c682.png)

3) Filled and focused fields htt

[2021-08-26 20:58] dariatarakanova opened #68 "Full screen: Rework "Change password" in Settings"
1)  Place fields "Current password", "New password" and "Password confirmation" on one screen. https://zpl.io/anQN6Yn
![image](https://user-images.githubusercontent.com/47353570/135297004-4284e6de-0e64-4479-9817-621b0945718a.png)

2) Make titles in CAPS.
![image](https://user-images.githubusercontent.com/47353570/135049557-176f6cbd-f1c0-43cd-b2da-c0658cb34472.png)

3) Filled and focused fields htt

[2021-08-26 21:24] dariatarakanova opened #67 "Full view: Add "Longest transaction time for maximum anonymity" to Privacy settings"
1) Add "Longest transaction time for maximum anonymity" to Privacy settings https://zpl.io/V0jW9xo
- add comments for No limit and 72 hours
- 72 hours - default statement
![image](https://user-images.githubusercontent.com/47353570/131669443-39940bfb-f5ce-441b-bc17-0c55a87c19e7.png)

2) When Dropdown is closed the arrow looks down  https://zpl.io/VOENRrk
![image](https://user-images.githubuserconte

[2021-08-26 21:26] dariatarakanova opened #66 "Full view: Rework Settings screens"
**1) Make settings in 2 columns. Default view. All blocks are closed.** https://zpl.io/a77KPWv
![image](https://user-images.githubusercontent.com/47353570/132215352-d0e3bde0-d4f2-49b6-8c11-ddb81567160e.png)

**2) Make titles CAPS in white color and icons also in white.** https://zpl.io/a77KPWv
![image](https://user-images.githubusercontent.com/47353570/132215398-9ab77a00-028e-46a4-902a-bfb2c4fb138

[2021-08-26 21:26] dariatarakanova opened #65 "Small view: Rework Settings screens"
1) Settings main screen. Make titles CAPS in white color and icons also in white. https://zpl.io/blA5zAD
![image](https://user-images.githubusercontent.com/47353570/132129701-fde501f9-5c6f-4655-9926-effa2b28bbdc.png)

**2) GENERAL** https://zpl.io/awxK7xK
![image](https://user-images.githubusercontent.com/47353570/132674617-63224548-9162-4852-aa03-f9d3cc7a5ad2.png)

2.1) Language, Show amounts in,

[2021-08-31 12:59] dariatarakanova opened #64 "Full view: Header"
Please replace elements in the header according to the updated design https://zpl.io/bey91lz

1) update logo
2) icon "security mode" in the right top screen

![image](https://user-images.githubusercontent.com/47353570/146065173-5cd62312-3f70-4f9b-a0a7-20a3cc89ce63.png)

Current implementation:
![image](https://user-images.githubusercontent.com/47353570/131506844-a586a52b-aea9-4b71-89c0-a1a83c9a63f

[2021-08-31 12:59] dariatarakanova opened #246 "Replace elements in the header"
Please replace elements in the header according to the updated design

small view https://zpl.io/Vk4z3YZ
![image](https://user-images.githubusercontent.com/47353570/131506738-5b2ee18f-0d57-42cf-a425-8326c1e13832.png)

full view https://zpl.io/agxBy9Z
![image](https://user-images.githubusercontent.com/47353570/131506721-a00eabd0-5fe7-4efc-b6d5-6980ef730dff.png)

[2021-09-01 10:23] dariatarakanova opened #27 "Small view: Header"
Please replace elements in the header according to the updated design https://zpl.io/Vk4z3YZ
1) logo to the left corner
2) status "online" next to the logo

![image](https://user-images.githubusercontent.com/47353570/131506738-5b2ee18f-0d57-42cf-a425-8326c1e13832.png)

Current implementation:
![image](https://user-images.githubusercontent.com/47353570/131655750-e1420035-4dae-42d4-b5c6-12dae9c050f8

[2021-09-01 10:23] dariatarakanova opened #247 "Small view: Header"

[2021-09-01 12:46] dariatarakanova commented on #171
not relewant. will be done in other task

[2021-09-01 12:46] #171 closed

[2021-09-05 10:31] alexandrashelenkova opened #63 "Change comment about exchange rate to USD"
In transaction details change the comment about exchange rate to "USD exchange rate..." (or "BTC/ETH rate" depending on selected secondary currency).

The full text should be:
"(USD exchange rate was not available at the time of transaction)" or
"(USD rate calculated with the exchange rate at the time of transaction)"

Regular tx details: https://zpl.io/bleK1y5
![image](https://user-images.githubu

[2021-09-05 10:31] alexandrashelenkova opened #248 "Change comment about exchange rate to "USD exchange rate was calculated with the time of the transaction""

[2021-09-06 08:34] anatolse opened #2 "Add ability to use Beam extension API in Chromium tabs"
1. Draft version is already implemented in https://github.com/BeamMW/web-wallet-angular contact to @iscander01 for details.
2. Check that it works both in separate tabs and in separate browser windows(angular doesn't work in another window)
3. Note that usage of the wallet API should have minimal differences in case if they are launched from Desktop wallet or inside browser app

[2021-09-06 08:41] anatolse opened #3 "Running the web wallet extension as a background task"
At present, we have to run web wallet extension in a separate tab to be able to communicate with it from application. This looks not very convenient and user friendly. We need to find out how to keep web wallet extension working in background after used have logged in into web wallet extension.

[2021-09-06 08:59] anatolse opened #4 "Show popup or move focus to the web wallet extension when application have to get consent from user"
Some actions (sending beams and etc.) require user's consent. When application initiates such an action we need to move user's focus to the wallet extension, and extension should show consent dialog or something similar.
In order to handle this, you have to subscribe to two notifications in WASM wallet client:
[code]
The callback allows to approve/reject the `request`, `info` is a JSON with data d

[2021-09-13 18:22] Sergei-Beam opened #5 "Create/Restore screen bugs"
1. After entering and deleting the words highlighting the incorrectly entered word still remains
![image](https://user-images.githubusercontent.com/44496108/133134863-ca024036-3424-42dd-b8b3-c1100fa62102.png)
2. Seed input does not support separators (; or space), as it works on the desktop or mobile
Add ability to paste seed (12 words) via separator (;)
3. After starting the extension, "loading"

[2021-09-13 18:49] Sergei-Beam opened #6 "[Restore] UI is crashed after restoring Wallet with a huge amount of BEAMs with assets"
UI is crashed after restoring Wallet with a huge amount of BEAMs with assets
![image](https://user-images.githubusercontent.com/44496108/133139496-9e8c8fdd-80c3-4fa6-bfe2-cfc250347df1.png)
But it loads correctly after reopening the extension
![image](https://user-images.githubusercontent.com/44496108/133139730-e509ed0d-80d3-46f6-aa8b-a24cd2f7ccf6.png)
Please, ask me the seed if needed

[2021-09-20 11:14] alexandrashelenkova opened #29 "Add link to Beam docs"
Please add new icon to the side menu that leads to https://documentation.beam.mw/

Full view design: https://zpl.io/2v3eXWJ
Small view design: https://zpl.io/agB6xoD

![image](https://user-images.githubusercontent.com/47353570/134468447-1ad72618-95ad-4330-adb5-8409c5b40a92.png)

![image](https://user-images.githubusercontent.com/47353570/134468423-86e8ca1a-69a2-4875-8032-62b00ce40e39.png)

[2021-09-20 11:14] alexandrashelenkova opened #249 "Add link to Beam docs"

[2021-09-20 11:18] alexandrashelenkova opened #25 "Receive screen. Add message that mimblewimble addresses are always new because of the privacy"
Please add a comment under address, only for regular addresses.

Small view: https://zpl.io/aX78Pgl
![image](https://user-images.githubusercontent.com/47353570/134478404-547177fc-0c02-4930-bcc2-6442a50bb2ae.png)

Full view: https://zpl.io/aX785LK
![image](https://user-images.githubusercontent.com/47353570/134479324-737041a2-51cc-4bdc-a3ea-0a250ddb6043.png)

[2021-09-20 11:18] alexandrashelenkova opened #250 "Receive screen. Add message that mimblewimble addresses are always new because of the privacy"
Discuss with Sasha the text

[2021-09-23 08:38] dariatarakanova opened #32 "Small view: Update splash screen with new logo and graphics"
Full view here https://github.com/BeamMW/web-wallet-angular/issues/244

Please update the logo, text "Confidential DeFi Platform and Cryptocurrency" and background illustration https://zpl.io/2Gwjyk3'
![image](https://user-images.githubusercontent.com/47353570/134477551-52b61e61-84c5-47b0-9eb2-8b2b846493a0.png)

Current implementation
![image](https://user-images.githubusercontent.com/47353570/134

[2021-09-23 08:38] dariatarakanova opened #251 "Small view: Update splash screen with new logo and graphics"
Full view here https://github.com/BeamMW/web-wallet-angular/issues/244

Please update the logo, text and background illustration https://zpl.io/2Gwjyk3'
![image](https://user-images.githubusercontent.com/47353570/134477551-52b61e61-84c5-47b0-9eb2-8b2b846493a0.png)

Current implementation
![image](https://user-images.githubusercontent.com/47353570/134477601-5092100a-822a-4103-a61d-7f326aa92934.png)

[2021-09-23 09:57] dariatarakanova opened #62 "Small view: Move "Remove current wallet" to Utilities"
**_Small view_**

1) Remove "remove current wallet" from main Settings screen https://zpl.io/awxK7xK
![image](https://user-images.githubusercontent.com/47353570/135082376-a9ff18e6-201f-4337-bfb2-d59b39a8032b.png)

2) Place "remove current wallet" in Utilities settings https://zpl.io/2E9MDrD
![image](https://user-images.githubusercontent.com/47353570/136056662-63d7a2e7-9d3b-42e2-a476-28940cf3dfa1.p

[2021-09-23 09:57] dariatarakanova opened #252 "Move "Remove current wallet" to Utilities"

[2021-09-23 09:59] dariatarakanova opened #61 "Small view: Add search to Settings"
1) Add Search field only to the main Settings screen https://zpl.io/blA5zAD
<img width="316" alt="image" src="https://user-images.githubusercontent.com/47353570/169895579-c2d53f13-85bd-45f0-8f8a-2aefb9653fbe.png">

2) Search result highlight with blue color https://zpl.io/B1ol7MQ
<img width="324" alt="image" src="https://user-images.githubusercontent.com/47353570/169895639-6e1b882f-736f-4cf0-a439-

[2021-09-23 09:59] dariatarakanova opened #253 "Add search to Settings"

[2021-09-23 10:00] dariatarakanova opened #60 "Full view: Move Settings from option (3 dots) to Burger menu"
1) Please remove Settings from options (top right corner) and remove options at all.
![image](https://user-images.githubusercontent.com/47353570/134919153-73c25b6e-35ff-4985-962f-90e83282776c.png)

2) Please add Settings icon to side menu  ![image](https://user-images.githubusercontent.com/47353570/134918718-5f6f4b99-f3f6-41e2-a1ab-27db6c6a474e.png)
![image](https://user-images.githubusercontent.c

[2021-09-23 10:00] dariatarakanova opened #24 "Small view: Move Settings from option (3 dots) to Burger menu"
1) Please remove Settings from options (three dots, top right corner) and remove options at all.
![image](https://user-images.githubusercontent.com/47353570/134919259-77b50014-1622-48b1-b8ad-da7e4bccacc6.png)

2) Place icon "show full view" to the top right corner https://zpl.io/agB6xoD
![image](https://user-images.githubusercontent.com/47353570/134656434-05d8cabb-9c0a-443a-824c-1366ff1e4fab.png)

[2021-09-23 10:00] dariatarakanova opened #255 "Small view: Move Settings from option (3 dots) to Burger menu"

[2021-09-23 13:49] chapati opened #7 "Web apps: loading sequence"
Need to implement loading sequence in Utils.js
Minima mockup is already in faucet.

[2021-09-23 13:50] chapati opened #8 "Web apps: conncet screen"
Now in permission screens is only mockup text.
Need to make it look acceptable (layout &c.)

[2021-09-23 13:52] chapati opened #9 "Web apps: logged out wallet"
If application is requesting connection but wallet is logged out need to
1) show connection screen
2) if user approves connection redirect to login/wallet creation. If doesn't approve just stop.
3) if login/creation is successful inject api

[2021-09-23 13:55] chapati opened #10 "Web apps: transaction noftification"
When web wallet creates transaction for DApp need to inject notification via content script. The same as in desktop wallet.

![gnome-shell-screenshot-CXWR90](https://user-images.githubusercontent.com/12074933/134519980-4344a4f1-5c26-4129-9cff-98a1e62cd93e.png)

1st line is comment from transaction
2nd line App name
icon is appicon / favicon for the page

[2021-09-23 15:20] chapati opened #11 "Web apps: closing popups"
1) Open faucet & allow connection
2) Try to make deposit / withdraw. Confirmation screen opens. Do not confirm, just leave this screen opened
3) Close faucet
Result: confirmation screen stays opened
4) Open faucet again
Result: connection request never appears
5) 1-2 then reload
Result: connection request never appears

Fix: When closing / reloading application need to close all popups associated

[2021-09-23 15:22] chapati opened #12 "Web apps: popup resize"
If it is possible do not allow to maximize/resize confirmation, login & other popups.
If not possible center content in the window.

[2021-09-23 15:32] chapati opened #13 "Web apps: transactions confirmation"
Need to implement transaction confirmation popup in the same way as it is done in the web wallet. Need to handle all cases - multiple asset, deposit/withdraw, fee-only transactions &c.

UI files from desktop attached for the reference. Start from applications.qml onApproveSend/onApproveContractInfo
[confirm-desktop.zip](https://github.com/BeamMW/web-wallet/files/7218933/confirm-desktop.zip)

[2021-09-23 15:35] chapati opened #14 "Web apps: apps txs in txs list"
1) Need to implement support of contract transactions/transactions with multiple assets in the tx list.
2) Since transaction list shows only limited info need to implement extend transaction info screen.

Take a look at desktop for reference if design is not ready yet.

[2021-09-23 15:38] chapati opened #15 "Web apps: tx list inside app"
Need to add transactions list to each app. Probably after #14 is implemented.  Or use code from this task in #14 later. Transaction list should be injected into each application. If possible make it a separaate iframe and do not allow application to change this list.
Take desktop as a refrence
![gnome-shell-screenshot-YTD590](https://user-images.githubusercontent.com/12074933/134538788-9b3777cb-d0

[2021-09-23 15:42] chapati opened #16 "Web apps: forgery issues"
Now DApps popups display name of the application as web app provides it. So any unrelated DApp can name it 'BEAM something' and pretend that it is official. Need to think what to do with this.

Possible solutions:
1) BAN 'BEAM' word at all. Not 100% solution. Can use any unicode glyphs that look the same, for example russian letter В, and we would be not be able to handle all these cases.
2) May b

[2021-09-23 15:51] chapati opened #17 "Web apps: api initialization"
1) Need to check API initialization. Why we pass CID, if appid is generated corretly &c.
2) Need to allow web wallet to generate appid if necessary

[2021-09-23 15:53] chapati opened #18 "Web apps: general api review"
Need to check if web wallet has enough info to distinguish app-related objects. For example if it is able to see which transactions belong to a given app, filter by appid &c.

[2021-09-23 15:53] chapati opened #19 "Assets info api"
Need to check asset info api. If web wallet has enough info about assets and if api is convenient.

[2021-09-23 16:43] chapati opened #20 "Web apps: launch dao core on masternet"
Need to implement:

#7
#8
#9

Then launch dao core.

[2021-09-23 19:16] dariatarakanova opened #26 "Update Beam logo everywhere in the webwallet"
**Small view**

1) In header https://zpl.io/agB6xoD
![image](https://user-images.githubusercontent.com/47353570/134569894-402d934c-7837-471b-bcac-fa359847eb4a.png)

Please pay attention that if there is a big logo on the screen (as on create a wallet or login screen) no need to add the small logo in the header.

2) Create wallet (and restore for future versions) https://zpl.io/Vq5pRm7
![image](htt

[2021-09-23 19:16] dariatarakanova opened #256 "Update Beam logo everywhere in the webwallet"

[2021-09-24 10:01] dariatarakanova opened #59 "Change notification's icons for offline tx's"
Please update icons for Offline transaction notifications. It is needed because statuses icons were changed before.   https://zpl.io/bAwMlwO
![image](https://user-images.githubusercontent.com/47353570/134935134-6158cf3d-77ac-457d-a9ee-dde0d4832f94.png)

Current implementation (icon has 2 lines)
![image](https://user-images.githubusercontent.com/47353570/134935520-14e2e441-139a-447f-9040-c33bc4e045

[2021-09-24 10:01] dariatarakanova opened #257 "Change notification's icons for offline tx's"

[2021-09-24 12:47] dariatarakanova opened #58 "Small view: Update design of input fields on send and receive screens"
1) Please update input line with the input filed.
![image](https://user-images.githubusercontent.com/47353570/151847677-df65e5d1-5b10-4555-83f3-c370aa47532d.png)
https://zpl.io/254vwMr

2) Opacity 5% if it's non focused field
3) Opacity 10% if it's focused field
4) All the states for input fields are here https://zpl.io/Vk9v1e8

5) Pasted address https://zpl.io/Vq41gEZ
![image](https://user-images

[2021-09-24 16:51] chapati commented on #14
To run app:

1) Install web wallet
2) Login
3) Go to the url

This webapp creates mutiple assets transaction http://3.19.141.112:80/app/dao-core-conf/index.html

![dao core confirmation test - multiple assets confirm](https://user-images.githubusercontent.com/12074933/134712085-4f198c0d-bdd5-47b2-9f7b-18a38d05cf22.png)

![dao core confirmation test - multiple assets tx](https://user-images.githubu

[2021-09-27 15:19] dariatarakanova commented on #85
1) Updated transactions list: https://zpl.io/2v3eXWJ
- columns: Coin, Amount, USD Value, Source (dapp/wallet), Created on, Status
![image](https://user-images.githubusercontent.com/47353570/134936150-44be40f2-4107-4750-afb1-e992f4ac291c.png)

2) If there are more than 1 asset please show the first icon with full opacity and the next ones with 30% opacity.
3) Text "Multiple assets" instead of amoun

[2021-09-27 16:46] Sergei-Beam commented on #5
point 2 doesn't work as expected

[2021-09-27 17:06] Sergei-Beam opened #33 "Add Complete verifications button for easy onboarding"
Need to add the ability to complete wallet verification if the user creating a wallet from scratch and clicking the "I will do it later" button on Create wallet screen
https://zpl.io/V4d83Zp
https://zpl.io/aNnx1N9

[2021-09-27 17:11] Sergei-Beam opened #34 "Add ability to lock wallet"
We need to add the ability to lock the wallet if the user does not want anyone to be able to log in to the wallet while he is moving away from the computer
So, when our web wallet extension is minimized to the extension tray - lock it
Login screen design https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/5df3b578c05dc7b41e78cf65

[2021-09-28 05:31] gingervik opened #35 "Receive screen"
Implement receive screen according to design https://zpl.io/25mN8w8 https://zpl.io/VDQpZWW
Also users should be able to generate different types of addresses (max privacy, offline)
By default all sections are closed
<img src="https://user-images.githubusercontent.com/28015224/146749680-23ef978e-3bf1-4c31-9404-6d96013b80ea.png" width="300"/> <img src="https://user-images.githubusercontent.com/28015

[2021-09-28 18:57] chapati commented on #17
We've implemeted the desired api behavior but code in web wallet needs to be refactored & checked (ports, DnodeApp &c)

[2021-09-28 19:15] chapati opened #36 "Web apps: multiple apps"
Need to support multiple apps in mutiple apps.
Map origin -> dnode

[2021-09-28 21:19] chapati commented on #14
Update web assembly to the latest version.
Contract transactions would have the following format now (invoke_data changed)

{
      "comment": "Lock/Unlock and get farmed demoX tokens",
      "create_time": 1632854550,
      "failure_reason": "Failed to register transaction with the blockchain, see node logs for details",
      "fee": 1100000,
      "fee_only": false,
      "income": false,

[2021-09-29 14:17] iscander01 opened #37 "Uncaught RuntimeError: memory access out of bounds"
Get Uncaught RuntimeError: memory access out of bounds error while sync new wallet
![579291b1f5c3cd984bf89134ebc80423](https://user-images.githubusercontent.com/44571357/135286748-ebabaa40-5269-40e3-ae73-30a2078823c1.png)
![9002ffb6bec2fb22349e74b5ddd70282](https://user-images.githubusercontent.com/44571357/135286869-df7095e9-44d0-4bef-bd5b-d8c3b29c02c6.png)

[2021-09-30 14:53] #37 closed, assigned to anatolse, chapati

[2021-10-04 12:53] Sergei-Beam opened #38 "Incorrect pointer on left menu hover"
![pointer](https://user-images.githubusercontent.com/44496108/135854846-49ac71c7-5a37-4f84-b363-2e5aad06b1dd.gif)

[2021-10-04 13:21] Sergei-Beam opened #39 "Incorrect sorting while wallet is open"
If the wallet open during incoming transactions then they placing incorrectly in the transaction list, sorting should be **by created date**
![image](https://user-images.githubusercontent.com/44496108/135857012-95ad8f5f-0e76-43c3-865b-93ed94437059.png)
But after close and reopen the extension the transactions is sorted correctly
![image](https://user-images.githubusercontent.com/44496108/135857059

[2021-10-04 13:26] Sergei-Beam commented on #30
Incorrect colours for assets, all assets should have the same colour throughout the project
![image](https://user-images.githubusercontent.com/44496108/135859454-723aeca4-b1a4-4c32-9a8b-496b782f03eb.png)
![image](https://user-images.githubusercontent.com/44496108/135859516-6e921d26-0a4a-4696-a5d7-a20274daf02c.png)

[2021-10-04 13:34] Sergei-Beam opened #40 "Incorrect icons for assets and for BeamX"
Assets should have the same colour icon as on the header.
**BeamX** should have a special icon
![image](https://user-images.githubusercontent.com/44496108/135860318-baaedd72-b323-41de-bb37-fc82577289a3.png)

For example:
![image](https://user-images.githubusercontent.com/44496108/135860440-4aad66f0-3b74-4b90-a21e-833505168aad.png)
![image](https://user-images.githubusercontent.com/44496108/1358604

[2021-10-04 13:46] Sergei-Beam opened #41 "Send screen: The user should be able to set 0 into the amount field"
The user should be able to set 0 into the amount field to be able to set fractional numbers less than 1
![image](https://user-images.githubusercontent.com/44496108/135862062-55321ef4-d177-4dcb-bf57-d576c5d2577c.png)

[2021-10-04 13:51] Sergei-Beam opened #42 "Cannot send assets from the wallet because fee calculated incorrectly"
Wallet overview
![image](https://user-images.githubusercontent.com/44496108/135862772-02a61929-07cb-4243-b72a-a347bee60dfa.png)
Send screen for assets:
![image](https://user-images.githubusercontent.com/44496108/135862921-cd70a2fd-a45f-4dcc-9dc2-7448f28c2a1d.png)
for case above fee should be 0.001 BEAM

**Note:** fee for asset pays in BEAM, not in assets units and asset should not be included in f

[2021-10-05 15:09] dariatarakanova opened #57 "Full view: Move "Remove current wallet" to Utilities"
1) Remove "remove current wallet" from main Settings screen https://zpl.io/a77KPWv
![image](https://user-images.githubusercontent.com/47353570/135083432-27f7afc1-f583-4c26-b53e-f056fe94bbe8.png)

2) Place "remove current wallet" in Utilities settings https://zpl.io/blOgPm5
![image](https://user-images.githubusercontent.com/47353570/136058877-451b758f-7528-443d-87b5-34a24dd62556.png)

3) Confirmati

[2021-10-05 17:35] Sergei-Beam opened #43 "Coins to/from Faucet/DAO displayed incorrectly"
![image](https://user-images.githubusercontent.com/44496108/136066432-6b02fa08-fa1f-4164-8114-7ac57d573ecd.png)
Please use the following links to reproduce:
http://3.19.141.112/app/plugin-dao-core/
http://3.19.141.112/app/plugin-faucet/

[2021-10-05 17:52] Sergei-Beam opened #44 "Send screen: Warning messages should disappear if the address field was cleared"
Warning messages should disappear if the address field was cleared or send screen was reopened. Currently, they are still shown
![image](https://user-images.githubusercontent.com/44496108/136076065-d971d1e0-6f55-4d6e-afb9-56a676aafd8b.png)
![image](https://user-images.githubusercontent.com/44496108/136076154-75bb4f1b-baa2-42c0-a55c-71c4e86e26a5.png)
![image](https://user-images.githubusercontent.c

[2021-10-05 18:01] Sergei-Beam opened #45 "Send screen: Incorrect warning messages for regular/offline and max privacy addresses"
Online address(SBBS):

Web: ![image](https://user-images.githubusercontent.com/44496108/136077378-1f97a919-8579-4dae-8ba7-d0fa6c8d51ab.png)
Desktop:
![image](https://user-images.githubusercontent.com/44496108/136077447-39b7e169-19b5-4200-8cf7-f551622c89d6.png)

Regular/Offline:

Web: ![image](https://user-images.githubusercontent.com/44496108/136077185-4a0fbef7-fe16-4d7b-ace5-24604a7d9aed.png)
Des

[2021-10-05 18:57] Sergei-Beam opened #46 "Send screen: Amount field has a less maximum value that expected"
Currently, the Amount field on the WEB wallet has a less maximum value than expected.
The desktop wallet has the next maximum value **253999999.99999999** which is controlled using a regular expression
`"^(([1-9][0-9]{0,7})|(1[0-9]{8})|(2[0-4][0-9]{7})|(25[0-3][0-9]{6})|(0))(\\.[0-9]{0,%1}[1-9])?$"`
Need to adapt this field to desktop wallet value
![2CE32C93-ACD9-4760-A0AD-17EBC19E9E3E](https://us

[2021-10-06 09:16] Sergei-Beam opened #47 "Need to make DAO integration screen more user-friendly"
![image](https://user-images.githubusercontent.com/44496108/136174899-5cc5936b-d19a-43fe-a7db-ef4fe3a386ca.png)

[2021-10-06 11:29] Sergei-Beam commented on #3
checked

[2021-10-06 11:29] #3 closed, assigned to Sergei-Beam

[2021-10-06 11:33] Sergei-Beam commented on #2
checked

[2021-10-06 11:33] #2 closed, assigned to Sergei-Beam

[2021-10-06 18:29] Sergei-Beam commented on #44
checked

[2021-10-06 18:29] #44 closed, assigned to Sergei-Beam

[2021-10-06 18:37] Sergei-Beam commented on #5
checked

[2021-10-06 18:37] #5 closed, assigned to Sergei-Beam

[2021-10-06 19:40] Sergei-Beam commented on #41
checked

[2021-10-06 19:40] #41 closed, assigned to Sergei-Beam

[2021-10-07 06:49] Sergei-Beam opened #48 "Sending transactions is broken because the amounts are sent incorrectly"
When I create a transaction and try to send it to another wallet I get the next error:
![image](https://user-images.githubusercontent.com/44496108/136333067-86154df7-b5c7-4c18-81ad-713b9afa35e3.png)
After investigating I found that the Web wallet send the wrong amount value to API.
For example,
1. I try to send 111 BEAM, but the wallet sends to API 0.00000111 BEAM
![image](https://user-images.gith

[2021-10-07 11:47] Sergei-Beam opened #49 "Wasm cannot extract information from address"
When I paste the new regular address( with offline) Or max privacy, I'm catching errors in background logs
![image](https://user-images.githubusercontent.com/44496108/136377716-69ccbb32-8bb6-41a6-9410-4ae1599958a7.png)
![image](https://user-images.githubusercontent.com/44496108/136377727-c1c6bbda-4ea9-460f-a138-819338160a6d.png)

[2021-10-07 12:28] Sergei-Beam commented on #42
checked

[2021-10-07 12:28] #42 closed, assigned to Sergei-Beam

[2021-10-07 13:34] Sergei-Beam commented on #48
checked

[2021-10-07 13:34] #48 closed, assigned to Sergei-Beam

[2021-10-07 13:45] Sergei-Beam commented on #6
checked

[2021-10-07 13:45] #6 closed, assigned to Sergei-Beam

[2021-10-07 20:02] Sergei-Beam opened #50 "Send screen: send confirmation dialog should be as on design"
Design:
https://zpl.io/Vx3e1ow
![image](https://user-images.githubusercontent.com/44496108/136453894-e05e570e-9c21-4365-9d7e-343d140b55f5.png)
1. Need to add currencies near amount (can be different BEAM and any assets) and fee
2. Remaining cannot be negative
3. Transaction type should be set according to chosen transactions type or according to address type (Regular, offline, max anonymity)

[2021-10-07 20:11] Sergei-Beam opened #51 "Offline and max privacy transactions didn't send from the wallet"
After sending offline or max privacy transaction from web wallet nothing received for the receiver and sender balance didn't decresed
offline
![image](https://user-images.githubusercontent.com/44496108/136454853-16ffa00c-1ba5-46be-b1a7-13991dfd0ca9.png)

max privacy
![image](https://user-images.githubusercontent.com/44496108/136454689-45e459be-333f-4869-97fe-0dbc7cc48292.png)

[2021-10-07 20:21] Sergei-Beam commented on #30
the fourth Assets palette has no style
![image](https://user-images.githubusercontent.com/44496108/136456397-fc0db7a7-8085-428a-b86a-ea0b5e8e096a.png)
![image](https://user-images.githubusercontent.com/44496108/136456336-6157dfae-3cd2-47b6-a1b4-edfd724fc6c6.png)

[2021-10-07 20:28] Sergei-Beam opened #52 "Send/Receive: make the comment field collapsed by default"
![image](https://user-images.githubusercontent.com/44496108/136457257-984ee5a9-d438-4140-93e3-45f82e57fcef.png)
![image](https://user-images.githubusercontent.com/44496108/136457284-2feeb411-98fd-4ac9-944d-d7280daec1f5.png)

[2021-10-08 07:26] Sergei-Beam opened #53 "Logs for long addresses are cropped"
Need to extend request logs for long addresses to add the ability to see all request arguments
![image](https://user-images.githubusercontent.com/44496108/136514635-82f50dec-1094-45d2-8496-acc8fa5ad4cc.png)

[2021-10-08 08:45] Sergei-Beam commented on #9
After deleting the wallet via setting and run Dapps connection didn't redirect to login/wallet creation.
![image](https://user-images.githubusercontent.com/44496108/136526249-8dd8d6fe-0c19-4074-a384-a774d4b5854f.png)

[2021-10-08 09:01] Sergei-Beam commented on #8
checked

[2021-10-08 09:01] #8 closed, assigned to Sergei-Beam

[2021-10-08 09:02] Sergei-Beam commented on #7
checked
some improvements will be added here https://github.com/BeamMW/web-wallet/issues/47

[2021-10-08 09:02] #7 closed, assigned to Sergei-Beam

[2021-10-08 12:54] Sergei-Beam commented on #45
checked

[2021-10-08 12:54] #45 closed, assigned to Sergei-Beam

[2021-10-08 13:28] Sergei-Beam commented on #51
@5angel The maximum privacy transaction has an incorrect commission when created should be 1100000 GROTH instead of  100000 GROTH
![image](https://user-images.githubusercontent.com/44496108/136565371-82053d3f-ae95-4628-bbda-4c8bd3cc4e2a.png)

[2021-10-11 06:37] Sergei-Beam commented on #4
checked

[2021-10-11 06:37] #4 closed, assigned to Sergei-Beam

[2021-10-11 08:55] anatolse commented on #49
fixed in https://github.com/BeamMW/beam/commit/d4e0b3b316da7de4b9aa4daa2d740316a6ccf17f

[2021-10-11 09:52] Sergei-Beam opened #54 "Add wallet version into extensions' list"
Need to show current wallet session on extensions' list
![image](https://user-images.githubusercontent.com/44496108/136770515-7c9c41d5-47d9-4ecc-962f-be959f141a9d.png)

[2021-10-11 10:37] Sergei-Beam opened #55 "Scroll doesn't work on Mac"
![image](https://user-images.githubusercontent.com/44496108/136776702-8bed45ba-ed82-498a-b0d9-74106e7ad01b.png)
![image](https://user-images.githubusercontent.com/44496108/136769884-91ea4598-fb7c-434a-a504-b80599ab5e53.png)
![image](https://user-images.githubusercontent.com/44496108/136769900-9f266c75-cf2c-42b9-842c-cac6e7cf8ea4.png)

[2021-10-11 11:09] #181 closed

[2021-10-11 11:09] #191 closed

[2021-10-11 11:09] #212 closed

[2021-10-11 11:14] Sergei-Beam opened #89 "Send screen: Arrow should be hidden if the wallet hasn't any assets except BEAM"
![image](https://user-images.githubusercontent.com/44496108/136781174-4cdb0350-ed82-4d6a-afa8-ef704e162e6a.png)
![image](https://user-images.githubusercontent.com/44496108/136780978-d70d5a5d-96a6-4fb5-81cf-1173731c6bd3.png)

[2021-10-11 11:31] Sergei-Beam opened #90 "Send screen: after clicking max an incorrect amount was set if the wallet has zero balance"
Let's make the max button disable if the wallet has zero balance

![image](https://user-images.githubusercontent.com/44496108/136782752-75b78f87-5bb4-426c-b2ee-5f1a794471dc.png)
![image](https://user-images.githubusercontent.com/44496108/136782970-4779eba1-2a2e-49a7-b13e-d0c4e3cedcc4.png)

[2021-10-11 11:33] Sergei-Beam commented on #49
checked

[2021-10-11 11:33] #49 closed, assigned to Sergei-Beam

[2021-10-11 13:14] anatolse commented on #54
API already has  method to retrieve library version
https://github.com/BeamMW/beam/wiki/Beam-wallet-protocol-API-v6.1#get_version

Need to add changes which would update manifest.json with the version from beam-wasm-client package

[2021-10-11 16:08] Sergei-Beam opened #91 "Tx statuses should have correct icons and texts"
![image](https://user-images.githubusercontent.com/44496108/136821088-70e1e618-3b17-48f8-a869-86b553a9ef2b.png)
design: ![image](https://user-images.githubusercontent.com/44496108/136821840-7feaae8a-ee69-43ce-be3d-eab1f7bea396.png)

[2021-10-11 19:38] dariatarakanova commented on #139
@gingervik
duplicate of https://github.com/BeamMW/web-wallet/issues/78

[2021-10-12 16:18] Sergei-Beam commented on #54
Except for the extensions' list, we need to add the  wallet version into wallet settings
@5angel Please add it to wallet settings too
![image](https://user-images.githubusercontent.com/44496108/136992992-af71f9f3-13af-4219-abb0-f650da1dc35e.png)

[2021-10-12 16:30] Sergei-Beam opened #94 "Settings screen: changes for "remove current wallet""
![image](https://user-images.githubusercontent.com/44496108/136994888-6cc2132a-704c-4fb3-839b-98a6bf48ac81.png)
1. Change button next to proceed on the pop-up
2. Move "Are you sure you want to remove your wallet?" on a separate line
3. Change proceed button colour to **#f25f5b** according to design
![image](https://user-images.githubusercontent.com/44496108/136995628-9a8cdb17-8bba-41a5-bafb-0a7358

[2021-10-13 08:46] beam-mw commented on #52
Remove comment field

[2021-10-13 09:05] Sergei-Beam opened #95 "Add wallet version into wallet settings"
Need to show current wallet session into wallet setting
![image](https://user-images.githubusercontent.com/44496108/137102585-21fb5858-eaff-44e1-99e2-d130dd431450.png)

[2021-10-13 09:08] Sergei-Beam commented on #54
adding version on wallet settings screen was moved to https://github.com/BeamMW/web-wallet/issues/95

[2021-10-13 09:08] #54 closed, assigned to Sergei-Beam

[2021-10-13 09:09] Sergei-Beam opened #96 "Settings screen:"
Need to add the ability to change node settings on settings screen
https://zpl.io/VDdgo33

[2021-10-13 10:06] Sergei-Beam opened #97 "Settings screen: Add the ability to save wallet logs on "Report a problem" tab"
Users should be able to save the wallet logs to send them to support if they faced problems
https://zpl.io/blA5zAD
https://zpl.io/bPneW7p

[2021-10-13 13:33] Sergei-Beam commented on #90
checked

[2021-10-13 13:33] #90 closed, assigned to Sergei-Beam

[2021-10-13 13:39] Sergei-Beam opened #98 "Settings screen: Change "back" functionality to the "burger menu""
The setting screen is a separate page from Burger Menu, it shouldn't have an "arrow back"
![image](https://user-images.githubusercontent.com/44496108/137143804-a3b789f5-b261-4adb-906a-4a0ae7df7f20.png)

[2021-10-13 15:18] Sergei-Beam commented on #53
checked

[2021-10-13 15:18] #53 closed, assigned to Sergei-Beam

[2021-10-13 15:18] Sergei-Beam commented on #38
checked

[2021-10-13 15:18] #38 closed, assigned to Sergei-Beam

[2021-10-14 07:50] Sergei-Beam commented on #9
checked

[2021-10-14 07:50] #9 closed, assigned to Sergei-Beam

[2021-10-14 07:50] Sergei-Beam commented on #20
Done

[2021-10-14 07:50] #20 closed, assigned to Sergei-Beam

[2021-10-14 07:55] #17 closed, assigned to iscander01

[2021-10-14 10:11] chapati opened #99 "Emscripten - newer version"
Need to move emscripten to the next version.
This is not urgent and may be delayed.

[2021-10-14 11:22] Sergei-Beam commented on #98
checked

[2021-10-14 11:22] #98 closed, assigned to Sergei-Beam

[2021-10-14 11:29] Sergei-Beam commented on #55
checked

[2021-10-14 11:29] #55 closed, assigned to Sergei-Beam

[2021-10-14 11:34] Sergei-Beam commented on #89
checked

[2021-10-14 11:34] #89 closed, assigned to Sergei-Beam

[2021-10-14 11:44] Sergei-Beam opened #100 "[Restore] The wrong screen appears when the user returns back from the password screen."
The wrong screen appears when the user returns back from the password screen.
We should show the previous screen with entered user's seed phrase
![E9533832-3BF5-4574-AA89-AB1A29A2DC08](https://user-images.githubusercontent.com/44496108/137310808-0e542550-4dc0-46c1-96dc-77fb1213bbfd.GIF)

[2021-10-15 07:33] Sergei-Beam commented on #21
Need to change Opened/Closed coin's list arrows according to design points 3.2 and 4.2 from description
![image](https://user-images.githubusercontent.com/44496108/137449304-0b14bca1-78f5-4bcf-a0b7-510f0e1adaaf.png)![image](https://user-images.githubusercontent.com/44496108/137449704-e06223a1-8ccf-4d3a-81c4-d414b5a125e0.png)

[2021-10-15 07:44] Sergei-Beam opened #101 "Receive/Send screen: Long assets names in currency selection should be reduced"
Long assets names in currency selection should be reduced like on Mobile Wallet
WEB
![image](https://user-images.githubusercontent.com/44496108/137450836-478d30c8-7742-41b9-9e2f-d445b4310041.png)
Mobile
![image](https://user-images.githubusercontent.com/44496108/137450948-e962a230-02f9-4356-ad8e-2bf0c90f499e.png)

[2021-10-15 07:47] Sergei-Beam opened #102 "Receive/Send screen: Long assets names on Amount field should be reduced"
Long assets names on Amount field should be reduced like on Mobile Wallet
WEB
![image](https://user-images.githubusercontent.com/44496108/137451125-f0f0d2b7-ca41-4515-9f25-2ced61422c46.png)
![image](https://user-images.githubusercontent.com/44496108/137451080-43f14ef6-2618-4931-b8e4-b40331461215.png)
Mobile
![image](https://user-images.githubusercontent.com/44496108/137451279-75e0bbeb-f627-4c11-96

[2021-10-15 08:08] Sergei-Beam opened #103 "Main screen: Long assets names on assets' plates should be reduced"
Long assets names on assets' plates should be reduced like on Mobile Wallet
WEB
![image](https://user-images.githubusercontent.com/44496108/137453883-7c7dd639-b908-4dc8-844c-ad3a7d6b32bf.png)
Mobile
![image](https://user-images.githubusercontent.com/44496108/137453935-8ced6365-f75b-49cc-ab65-1a821782a273.png)

[2021-10-15 08:15] Sergei-Beam opened #104 "Receive screen: The entered data should be reset if the user has left the receive page"
![ABAD76C5-6E4D-4248-B561-9CF575FA30E7](https://user-images.githubusercontent.com/44496108/137454522-53c59469-8655-4d95-a47f-6a2b8b3f9bd2.GIF)

[2021-10-17 00:01] iscander01 commented on #30
Also fixed incorrect icons

[2021-10-17 11:20] Sergei-Beam opened #105 "[Restore] Seed doesn't change when the user returns back from the password screen after clicking "I will do it later""
Seed should be changed when the user returns back from the password screen after clicking "I will do it later
![93F403DE-EC14-4295-B393-D600EAFF955C](https://user-images.githubusercontent.com/44496108/137625167-d31e1fe9-226d-4f65-b34c-362b24d43b6b.GIF)

[2021-10-17 11:20] Sergei-Beam commented on #100
checked

[2021-10-17 11:20] #100 closed, assigned to Sergei-Beam

[2021-10-17 11:26] Sergei-Beam commented on #11
checked

[2021-10-17 11:26] #11 closed, assigned to Sergei-Beam

[2021-10-17 11:36] Sergei-Beam commented on #104
"Maximum anonymity set"  flag should be disabled if the user has left the receive screen after enabling it and return back to receive screen
![5B9561A8-33F9-4749-A659-01CC78C7B890](https://user-images.githubusercontent.com/44496108/137625686-0dd94e26-3faa-44f5-a942-75866e42201e.GIF)

[2021-10-17 11:40] Sergei-Beam commented on #36
checked

[2021-10-17 11:40] #36 closed, assigned to Sergei-Beam

[2021-10-17 11:51] Sergei-Beam commented on #21
checked

[2021-10-17 11:51] #21 closed, assigned to Sergei-Beam

[2021-10-17 12:02] Sergei-Beam commented on #95
the build version is shortened but must have the full version
![image](https://user-images.githubusercontent.com/44496108/137626369-3fe7eb27-4926-4112-ad5b-c44e6c297215.png)

[2021-10-17 12:04] Sergei-Beam commented on #13
Couldn't find the design, but the fields should be aligned somehow
![image](https://user-images.githubusercontent.com/44496108/137626439-9dca3fc9-393c-468e-9219-bd7240b5233c.png)

[2021-10-18 07:39] Sergei-Beam opened #106 "[Restore] Delete the "I will do it later" button while we don't implement easy-onboarding"
![image](https://user-images.githubusercontent.com/44496108/137688147-de47121a-2093-43f6-b44c-6d5e29cd2be6.png)

[2021-10-18 07:45] iscander01 commented on #95
@anatolse please add full version in get_version api method

[2021-10-18 07:46] Sergei-Beam commented on #30
Looks like gradient is configured differently on the web than on Desktop because some of the colour matched but some looks different
@iscander01 Could you investigate it?
![image](https://user-images.githubusercontent.com/44496108/137689133-6b5ab4d8-91e8-4050-99f1-8f3e6e3fd46b.png)

[2021-10-18 08:13] chapati opened #107 "Broadcaster support: asset info"
1) Need to implement broadcaster support in web wallet for getting asset icon, color, approved sign &c.
2) Handle DEMOX/BEAMX via brodacster

[2021-10-18 08:14] chapati opened #108 "Broadcaster support: currency rates"
Need to implement broadcaster support in web wallet for getting currency rates

[2021-10-18 11:16] iscander01 commented on #95
version info is shown from manifest.json

[2021-10-18 11:35] Sergei-Beam commented on #95
Checked

[2021-10-18 11:35] #95 closed, assigned to Sergei-Beam

[2021-10-18 11:54] Sergei-Beam opened #109 "[Receive screen] Receiver address doesn't updates if metadata is changed (amount, currency)"
The receiver's address should keep all entered metadata when the sender pastes it into the address field.
So each time when user make changes to add metadata while generating receiver address we should regenerate the address hash

 We should regenerate the address hash and add metadata to the newest generated address:
1. when the user changes the amount from 0 to a specific value
2. when the user

[2021-10-18 11:56] Sergei-Beam opened #110 "[Send screen] USD value should be hidden if a warning message was shown"
![image](https://user-images.githubusercontent.com/44496108/137725529-52c90957-77ef-4afa-a124-78aec3786e9e.png)

[2021-10-18 12:06] Sergei-Beam opened #111 "[Send screen] Wrong warning message for simply SBBS address"
![image](https://user-images.githubusercontent.com/44496108/137726826-6f59c70b-e74e-4e0b-b9af-a8698e212410.png)

[2021-10-18 12:41] iscander01 commented on #30
in desktop asset DEMOX with id = 5 is getting color from broadcaster

[2021-10-18 13:04] Sergei-Beam opened #112 "SBBS address was wrongly defined as offline"
Steps:
- open UI wallet
- go to receive screen
- open address details
- copy new format address (don't close receive screen)
- open web wallet
- send transactions at first regular, then offline
- go back to UI wallet and copy SBBS address
- go to web wallet and send transaction
Actual result: SBBS address was wrongly defined as offline
![image](https://user-images.githubusercontent.com/44496108/13

[2021-10-18 13:12] Sergei-Beam commented on #111
relates to https://github.com/BeamMW/web-wallet/issues/112

[2021-10-18 13:14] Sergei-Beam commented on #106
checked

[2021-10-18 13:14] #106 closed, assigned to Sergei-Beam

[2021-10-18 13:36] Sergei-Beam commented on #104
checked

[2021-10-18 13:36] #104 closed, assigned to Sergei-Beam

[2021-10-18 14:51] Sergei-Beam commented on #51
checked

[2021-10-18 14:51] #51 closed, assigned to Sergei-Beam

[2021-10-18 14:53] Sergei-Beam commented on #30
checked
separate tickets for broadcaster were created
https://github.com/BeamMW/web-wallet/issues/107
https://github.com/BeamMW/web-wallet/issues/108

[2021-10-18 14:53] #30 closed, assigned to Sergei-Beam

[2021-10-18 21:05] Sergei-Beam commented on #43
checked

[2021-10-18 21:11] Sergei-Beam commented on #14
Amount for withdrawing claimed coins is shown incorrectly. We haven't to deduct commission in BEAM from the amount in BEAMX because it is fully different coins
![image](https://user-images.githubusercontent.com/44496108/137807046-3f9930dc-0383-4b0a-896c-37546bb76ad5.png)

![6F1D3CA3-C601-425C-99F4-9D5FC2902431](https://user-images.githubusercontent.com/44496108/137806844-f4d6e9a1-6cc4-4a20-b142-28

[2021-10-18 21:14] iscander01 commented on #97
added version in title and file archiving

[2021-10-18 21:26] Sergei-Beam commented on #97
checked

[2021-10-18 21:26] #97 closed, assigned to Sergei-Beam

[2021-10-18 21:47] Sergei-Beam commented on #43
@5angel something was broken again after the last changes
![image](https://user-images.githubusercontent.com/44496108/137811372-6be156fe-8e44-4d36-89fe-4b1d39d6dc73.png)

[2021-10-18 22:04] Sergei-Beam commented on #13
let's reopen confirmation each time when user  calls a new confirmation

For example:

1. user opened deposit confirmation on DAO and try to open a deposit confirmation on Faucet
2. user opened deposit confirmation  on DAO and try to open withdrawal confirmation on DAO
etc.

[2021-10-19 09:12] Sergei-Beam commented on #47
checked

[2021-10-19 09:12] #47 closed, assigned to Sergei-Beam

[2021-10-19 09:55] Sergei-Beam commented on #43
checked

[2021-10-19 09:55] #43 closed, assigned to Sergei-Beam

[2021-10-19 11:16] Sergei-Beam opened #113 "Multiple assets transaction shows incorrectly in web wallet"
This webapp creates multiple assets transaction http://3.19.141.112:80/app/dao-core-conf/index.html
![image](https://user-images.githubusercontent.com/44496108/137898401-f0c5ffa0-c675-429f-8f6e-0cabc0610daa.png)
![image](https://user-images.githubusercontent.com/44496108/137898365-d6072d0d-b429-4a03-a2f8-af1293aa2942.png)

Steps:
- Install web wallet
- Login
- Go to the URL and make multiple asset

[2021-10-19 11:17] Sergei-Beam commented on #14
Checked
Note:
Multiple assets from https://github.com/BeamMW/web-wallet/issues/14#issuecomment-926777917
moved to
https://github.com/BeamMW/web-wallet/issues/113

[2021-10-19 11:17] #14 closed, assigned to Sergei-Beam

[2021-10-19 12:22] Sergei-Beam opened #114 "Need to prepare new designs for Web wallet promos on store"
These is the old promos but needs to prepare new promos
![image](https://user-images.githubusercontent.com/44496108/137907847-4e2583bc-0277-4ae3-9f77-a1e108232145.png)

[2021-10-19 14:03] Sergei-Beam opened #115 "Create new wallet is broken"
user cannot proceed after confirming the phrase
![image](https://user-images.githubusercontent.com/44496108/137925912-2c0641f7-a55f-4f4f-8c26-fadf07834a3a.png)

also words validation is broken
![image](https://user-images.githubusercontent.com/44496108/137926126-e5ba31af-ed27-48fa-bb12-d5bb92cedfd5.png)

[2021-10-19 15:27] chapati opened #116 "Extension: activeTab permission"
Check if we really need this permission and remove if not.

[2021-10-20 07:07] Sergei-Beam commented on #115
checked

[2021-10-20 07:07] #115 closed, assigned to Sergei-Beam

[2021-10-20 11:05] chapati opened #117 "DAO web app & mobile"
At the moment if we open web url for DAO http://beamx.beam.mw in mobile browser an empty screen is displayed

![photo_2021-10-20_14-04-04](https://user-images.githubusercontent.com/12074933/138081583-c84952fc-1bfe-42d7-95ef-ef1f14a98811.jpg)

Need to add the follwoing text in this case:

"Beam staking is coming to mobile wallet soon. Please download the latest wallet and watch for updates."

And a

[2021-10-20 12:10] Sergei-Beam opened #118 "Wallet stops working after fast send 2 transactions"
When I send 2 transactions one by one the Wallet stops working
![image](https://user-images.githubusercontent.com/44496108/138087519-15056ce1-1792-4d80-8466-95fb41a252d1.png)

Steps:
- run desktop wallet and copy address
- go to web wallet
- send regular transaction
- after redirection to the main screen open send screen again
- pate the same address and send offline transaction
- after redirectio

[2021-10-20 12:13] Sergei-Beam opened #119 "Make the errors from fronted part readable"
![image](https://user-images.githubusercontent.com/44496108/138090285-6773ce74-c4b6-4c12-bd6a-7c1e4497eb84.png)

[2021-10-20 12:22] Sergei-Beam opened #120 "Add the placeholder for syncing even if user close and reopen extension"
We need to show the placeholder for syncing even if the user close and reopen the extension
Currently opens the wallet with 0 balance while sync is not 100%
![image](https://user-images.githubusercontent.com/44496108/138091288-f2a6beab-b027-4865-8668-e260067fde3c.png)
![image](https://user-images.githubusercontent.com/44496108/138091319-071cb24c-d4f9-4d75-957b-1f250a73b890.png)

[2021-10-21 11:26] #52 closed, assigned to 5angel

[2021-10-21 11:58] dariatarakanova commented on #114
[2021.zip](https://github.com/BeamMW/web-wallet/files/7388762/2021.zip)

 @Sergei-Beam here are screenshots and promo-banners

[2021-10-27 14:19] chapati opened #121 "WebAPI creation for wrong version"
When we request unsupported API version

utils.initialize(
    {
       .....
        "api_version": "6.4",
}

and user approves connection

1) web wallet should return error in intialize callback
2) need to check that utils handles this (use gallery)
3) need to check that gallery displays error correctly

[2021-10-27 15:43] 5angel commented on #109
api doesn't support creating address w/ amount & currency right now D:

https://github.com/BeamMW/beam/wiki/Beam-wallet-protocol-API-v6.1#create_address

[2021-10-28 11:57] sinaizd opened #122 "Connection to DAO incorrectly if the masternet and mainnet wallets extensions are installed in the browser"
If several wallet extensions are installed in the browser (for example, masternet and mainnet), then the connection to the DAO may be incorrect. That is, using the wallet of the mainnet network, the user will connect to the DAO of the masternet network. We need to warn the user. Perhaps it is worth implementing a switch between networks in the wallet, as it is implemented in the metamask, for exam

[2021-10-28 14:46] kovaletskaterina commented on #94
In point 4 warning message should be hidden:
if user clear the password field;
if user enters another password
![image](https://user-images.githubusercontent.com/83376495/139275853-1aa715f5-7ce7-46c1-82c3-958bb4c37c98.png)

5. When you click on "remove" button without entering a password while remove your current wallet and than enter a password warning message should be hidden.
![image](https://u

[2021-10-28 15:34] kovaletskaterina commented on #101
checked

[2021-10-28 15:34] #101 closed, assigned to kovaletskaterina

[2021-10-28 18:04] kovaletskaterina commented on #102
checked

[2021-10-28 18:04] #102 closed, assigned to kovaletskaterina

[2021-10-29 08:41] kovaletskaterina opened #123 "There is no space between balance and USD value of the same currency"
Need to add the space between balance and USD value of the same currency.
![image](https://user-images.githubusercontent.com/83376495/139273329-984bb6ae-b933-4504-ba62-84aba3e03656.png)

**UPD:**
Decided to add rounding on the main screen
And show full amount when user open asset details screen

[2021-10-29 11:34] Sergei-Beam opened #124 "Confirmation: The amount is blank if user makes the first like on Gallery"
The amount is blank if the user makes the first like on Gallery.
It is because there's no asset in the web wallet, but we need to get asset info from blockchain
![image](https://user-images.githubusercontent.com/44496108/139427474-1283b012-34ca-43e0-9ef2-43f8438b1ae5.png)

[2021-10-31 10:01] alexandrashelenkova opened #125 "Web DApp Store"
All Web DApp store screens are here https://zpl.io/amm6jm9

1. Main screen https://zpl.io/amm6jm9
![image](https://user-images.githubusercontent.com/7249484/139577384-e3d04bea-daa8-47c2-8aad-1543d58e532b.png)
Click on Launch opens the DApp, click on any other area of the card opens DApps details screen (see point 2)

2. Detailed screen of the DApp https://zpl.io/VD3O3G3
![image](https://user-image

[2021-10-31 10:09] alexandrashelenkova opened #126 "Add Lock button - Small view"
1. Add menu button in the header https://zpl.io/an8Jezr
<img width="295" alt="Screenshot at Nov 16 23-39-22" src="https://user-images.githubusercontent.com/7249484/142027798-f32589c9-a9cc-4ec2-a724-d15653e80273.png">

2. Menu should have 2 buttons: Lock wallet and Full view https://zpl.io/VD301ge
<img width="297" alt="Screenshot at Nov 16 23-39-34" src="https://user-images.githubusercontent.com/72

[2021-11-19 19:37] chapati opened #129 "Cancel api creation"
Need to add message cancel_create_beam_api (same as create_beam_api) that will cancel API creation flow and close wallet login/approve window.

[2021-12-13 16:29] Sergei-Beam opened #137 "The highlighting is still shown after cleaning up the row on the verification screen"
After entering and deleting the words highlighting the incorrectly entered word still remains
**Steps:**
- run the wallet
- Click create a new wallet
- click the complete verification button
- enter wrong worlds
- clean up the entered worlds
**Expected**: The highlighting is disappeared
**Actual**: The highlighting is still shown after cleaning up the row on the verification screen
![image](https:

[2021-12-13 19:03] Sergei-Beam opened #138 "[Create wallet] Seed phrase should be updated when the user returns back from the validation screen"
Seed phrase should be updated when the user returns back from the validation screen
![2A75D2F2-D1D3-4750-81AA-586540A7C201](https://user-images.githubusercontent.com/44496108/145868950-d66b3c9e-30f7-4130-9de6-e4a9fcc5a0ae.GIF)

[2021-12-13 19:25] Sergei-Beam opened #139 "[Create wallet] The order of the wallet creation screens"
Need to implement the flow of the wallet creation screens

1. create/restore screen
![image](https://user-images.githubusercontent.com/44496108/145972714-8dfd43f6-b136-46df-99de-17fb318b90d2.png)
2. after clicking create https://zpl.io/VQn6LJA
![image](https://user-images.githubusercontent.com/44496108/145874390-b8ae91d8-add6-4bc2-ac95-17cd76cb4c61.png)
3. after clicking "I understand" https://zpl

[2021-12-13 20:35] dariatarakanova opened #140 "Small view: Add "action" to transaction details"
On full view we added it to the transaction list https://zpl.io/2v3eXWJ

But on the small screen do not display it in transaction list, just display it in transaction details https://zpl.io/V1AjWM5
![image](https://user-images.githubusercontent.com/47353570/146068418-209f2cdc-86bf-4943-a198-1d806e9b163f.png)

[2021-12-13 20:35] dariatarakanova opened #141 "Full view: Add "action" to transaction list"
https://zpl.io/2v3eXWJ
![image](https://user-images.githubusercontent.com/47353570/146068149-71cf033e-e10b-476a-9b8e-787d85ec6e54.png)

Task for small view https://github.com/BeamMW/web-wallet/issues/140

[2021-12-13 20:54] dariatarakanova opened #142 "Small view: Enter the amount in dollars"
1. Separate the Amount field into 2 sections with a separator line https://zpl.io/KGw9XjJ
<img width="327" alt="image" src="https://user-images.githubusercontent.com/47353570/167698843-2d02196b-9eb2-41f1-9bb9-171718ef76cd.png">

2. If user types in BEAM field part: https://zpl.io/KGw9XjJ

- Highlight amount in BEAM in pink
- Make USD in gray
<img width="327" alt="image" src="https://user-images.gi

[2021-12-13 20:54] dariatarakanova opened #143 "Full view: Enter the amount in dollars"

[2021-12-14 09:32] dariatarakanova opened #144 "Small view - Transaction's list: change design"
1)  Redesign transaction list https://zpl.io/Vk1vPYg
- add coin icon
- place coin value + name text to the icon
- place USD value on the right side
- place status below coin value
![image](https://user-images.githubusercontent.com/47353570/146030371-b70eafa0-e2ea-464c-a900-1eee8bc9dd82.png)

2) Add "Source" item to each transaction (value should be "Wallet" for wallet transactions or name of the D

[2021-12-14 15:44] dariatarakanova opened #146 "Small view: Transaction details. Changes."
1. Wallet transactions with payment proof. Show info into 2 separate tabs https://zpl.io/aXyj6Oj

General info
- add coin icons to Amount and Transaction fee
- add copy icon to sending address, receiving address, and transaction ID.
- remove text-link "Open in blockchain Explorer" and leave only the green icon. Place it in one line with Kernel ID.
- text under amount "Calculated with the exchange

[2021-12-14 18:54] dariatarakanova opened #147 "Full view: empty wallet screen"
Please show icon and text is there are no transactions on the wallet screen.
https://zpl.io/b6WPe4P

Don't show search or tabs (in progress, sent etc)

![image](https://user-images.githubusercontent.com/47353570/146062095-f097cefa-6782-41e2-8867-37221bac319e.png)

Small view here https://github.com/BeamMW/web-wallet/issues/148

[2021-12-14 18:54] dariatarakanova opened #148 "Small view: empty wallet screen"
Please show icon and text is there are no transactions on the wallet screen.
https://zpl.io/2GwWD4Y

Don't show button "show all" near the transactions (as here https://zpl.io/Vk1vPYg)

![image](https://user-images.githubusercontent.com/47353570/146061753-44e50e0f-af09-47db-99dc-e0d44f687154.png)

[2021-12-14 19:10] dariatarakanova opened #149 "Small view: highlight the hovered transactions on wallet or transactions screen"
Design here https://zpl.io/bLJqv5m

1) Highlight the background with green color
2) Add 3 dots
3) 3 dots dislocate USD value a bit left (margin is 40px from left side, not 20px)
![image](https://user-images.githubusercontent.com/47353570/146063884-f8762264-8b21-4105-9e8f-9d94140991ce.png)

[2021-12-14 19:15] dariatarakanova opened #150 "Full view: highlight the hovered transactions on wallet or transactions screen"
Design https://zpl.io/bey91lz
Highlight the background with green color

![image](https://user-images.githubusercontent.com/47353570/146064504-7c62074c-f6c7-44ed-8bca-6067aa550ab0.png)

[2021-12-14 19:20] dariatarakanova opened #151 "Small view: Header"
Please replace elements in the header according to the updated design https://zpl.io/Vk1vPYg

- update logo
- icon "show full version" in the right top screen
- icon "security mode" - leave in 1 line with WALLET (screen name)

![image](https://user-images.githubusercontent.com/47353570/146065309-2a1c6a58-101e-4e13-8b92-f5323c5d8637.png)

[2021-12-15 08:14] kovaletskaterina commented on #137
Checked

[2021-12-15 08:14] #137 closed, assigned to kovaletskaterina

[2021-12-15 11:58] kovaletskaterina opened #152 "Seed phrase isn’t updated when you return back to the main screen and try to create a new wallet."
1. Run the wallet.
2. Tap the “Create new wallet” button.
3. Click the “I understand” button. The “Seed phrase” screen is open, a new seed phrase is generated. **Write down the seed phrase.**
![image](https://user-images.githubusercontent.com/83376495/146169026-88148d4c-b380-4d96-8d26-51cabfe18048.png)
4. Click the “Complete verification” button. The “Save seed phrase” popup appears.
5. Click “Don

[2021-12-15 12:43] gingervik opened #153 "Small view - Transactions list - Empty state"
Please, use icon for empty state from this design
https://app.zeplin.io/project/5de7758cdc60cf574430983c/screen/5de775e96f7e765690156222

[2021-12-15 12:56] kovaletskaterina opened #154 "A new seed phrase is not generated when you return from the "Password" screen"
1. Run the wallet.
2. Tap the “Create new wallet” button.
3. Click the “I understand” button. The “Seed phrase” screen is open, a new seed phrase is generated. **Write down the seed phrase.**
![image](https://user-images.githubusercontent.com/83376495/146185854-22fba82e-c06e-4795-bcf9-f3135ac94af8.png)
4. Click the “Complete verification” button. The “Save seed phrase” popup appears.
5. Click “Don

[2021-12-15 13:37] kovaletskaterina commented on #138
Checked

[2021-12-15 13:37] #138 closed, assigned to kovaletskaterina

[2021-12-15 14:37] dariatarakanova opened #155 "Full view: Add Lock button"
1. Add menu button in the header https://zpl.io/b6WPe4P
![image](https://user-images.githubusercontent.com/47353570/146210407-26f3327a-4f7d-48af-ac67-d9f93d00a269.png)

2. Menu should have 2 buttons: Lock wallet and Security mode https://zpl.io/b6WPe4P
(active icon for the Lock is here https://zpl.io/V0OBprR)

3. After user locks the wallet, show Enter password screen https://zpl.io/bJ0YGAD

Small

[2021-12-15 14:51] kovaletskaterina opened #156 "The “Back to seed phrase” pop-up is missed"
1. Run the wallet.
2. Tap the “Create new wallet” button.
3. Click the “I understand” button. The “Seed phrase” screen is opened, a new seed phrase is generated.
4. Click the “Complete verification” button. The “Save seed phrase” pop-up appears.
5. Click “Done”, the "confirm seed phrase" screen appears.
6. Click the back button.

**Expected result:** “Back to seed phrase” pop-up as on mobile appea

[2021-12-15 15:07] dariatarakanova opened #158 "Full view: Add search to Settings"

[2021-12-15 15:08] dariatarakanova opened #159 "Full view: Update design of input fields on send and receive screens"

[2021-12-15 15:09] dariatarakanova opened #160 "Full view: Remote node in web wallet"

[2021-12-15 15:10] dariatarakanova opened #161 "Full view: Restore for Web wallet"

[2021-12-15 15:11] dariatarakanova opened #162 "Full view: Export/import wallet data"

[2021-12-15 15:30] kovaletskaterina commented on #152
Checked

[2021-12-15 15:30] #152 closed, assigned to kovaletskaterina

[2021-12-15 15:39] kovaletskaterina commented on #154
Checked

[2021-12-15 15:39] #154 closed, assigned to kovaletskaterina

[2021-12-15 18:56] Sergei-Beam commented on #40
outdated

[2021-12-15 18:56] #40 closed, assigned to Sergei-Beam

[2021-12-15 19:14] Sergei-Beam commented on #153
checked

[2021-12-15 19:14] #153 closed, assigned to Sergei-Beam

[2021-12-15 19:17] Sergei-Beam commented on #110
reproduced on the blank wallet ( created from scratch)
![image](https://user-images.githubusercontent.com/44496108/146250715-0cbfdb67-a320-4703-b0e3-3c10adee3498.png)

[2021-12-15 19:28] Sergei-Beam commented on #50
Need to add currencies near Remaining amount
![image](https://user-images.githubusercontent.com/44496108/146252096-2f8bfd60-7b3c-40dc-b741-9bcfbaeb6a46.png)

[2021-12-16 08:08] kovaletskaterina opened #169 "The "Seed phrase" screen should be shown after returning from the "Password" screen"
1. Run the wallet.
2. Tap the “Create new wallet” button.
3. Click the “I understand” button. The “Seed phrase” screen is open, a new seed phrase is generated. Write down the seed phrase.
4. Click the “Complete verification” button. The “Save seed phrase” popup appears.
5. Click “Done”, confirm seed phrase screen appears.
6. Fill in the required words of the seed phrase and press next.
7. The “Pas

[2021-12-16 09:53] kovaletskaterina commented on #156
Checked

[2021-12-16 09:53] #156 closed, assigned to kovaletskaterina

[2021-12-16 19:52] dariatarakanova commented on #92
1) Add button "restore wallet" that fixed 50 px from bottom https://zpl.io/aM3MD4o
![image](https://user-images.githubusercontent.com/47353570/146437266-bfcf13d9-288f-4b37-8b1d-0a929426c86e.png)

2) Confirmation restore wallet or create new one https://zpl.io/2E9QBkD
![image](https://user-images.githubusercontent.com/47353570/146436753-02356c4c-1c97-4b98-803a-2d07c2f59e22.png)

3) On next screen w

[2021-12-20 10:10] gingervik commented on #35
duplicate of https://github.com/BeamMW/web-wallet/issues/80

[2021-12-20 10:10] #35 closed, assigned to razoorka

[2021-12-21 08:08] Sergei-Beam commented on #113
1. it is necessary to swap the icons with each other in places. the first asset from the dialogue should be the first, we have a BEAM, put it in the first place, BeamX on 2nd)
2. if we write balances in the title, then we need to show signs (+ or -), in our case **-0.01 Beam** **+0.1 BeamX**
![image](https://user-images.githubusercontent.com/44496108/146893616-24f0fb51-bf93-427b-96dd-e86f61f2c1d6.

[2021-12-21 08:30] kovaletskaterina commented on #169
Checked

[2021-12-21 08:30] #169 closed, assigned to kovaletskaterina

[2021-12-21 09:01] kovaletskaterina commented on #139
Checked

[2021-12-21 09:01] #139 closed, assigned to kovaletskaterina

[2021-12-21 09:44] Sergei-Beam commented on #46
need to stop the input if the user wants to exceed the maximum amount instead of switching to maximum

![364F1859-38C6-43CA-81B7-1DEFA98B548E](https://user-images.githubusercontent.com/44496108/146908239-f01ff1a7-0ec9-425c-8cde-86a7b2d396e7.GIF)

[2021-12-21 14:01] kovaletskaterina opened #174 "[Send screen] The warning message should be hidden when the amount is in the scope of the balance."
Steps:
1. Run the wallet.
2. Press the “Send” button. The “Send” screen is opened.
3. Enter the amount greater than the available balance. The warning message appears.
![image](https://user-images.githubusercontent.com/83376495/146938550-a4c9447d-e69e-4960-b3de-bdef84a5a073.png)
4. Delete some part of the amount till the amount will be in the scope of the balance.
![image](https://user-images.gith

[2021-12-21 21:31] kovaletskaterina commented on #110
Checked

[2021-12-21 21:31] #110 closed, assigned to kovaletskaterina

[2021-12-22 12:40] kovaletskaterina commented on #111
Wrong warning message for the:
1. Regular address includes both online and offline addresses
![image](https://user-images.githubusercontent.com/83376495/147080216-a8b36273-ea5a-4714-aad4-971d75e50542.png)
Should be written: **Online address** (for the online transaction type) /**Offline address: 1 transaction left. Ask receiver
to come online to support more offline transactions.** (for the offlin

[2021-12-22 13:06] kovaletskaterina commented on #174
Checked

[2021-12-22 13:06] #174 closed, assigned to kovaletskaterina

[2021-12-22 16:41] razoorka commented on #23
duplicate https://github.com/BeamMW/web-wallet/issues/146

[2021-12-24 15:27] kovaletskaterina commented on #46
Checked

[2021-12-24 15:27] #46 closed, assigned to kovaletskaterina

[2022-01-11 15:20] Sergei-Beam commented on #56
1. Main screen
 Need to add:
 **Show All** button for assets
- If there are only 3 or less assets, hide **Show all** icon
- Beam should be placed on top of assets
https://user-images.githubusercontent.com/7249484/116806769-c4640a00-ab61-11eb-8d94-6811a22071e4.png

Eye icon for hiding ALL balances.
- By default it is unclicked and all balances are presented
- if an icon is clicked then the icon bec

[2022-01-11 16:20] Sergei-Beam opened #178 "Small view: Assets screen and sorting"
moved from https://github.com/BeamMW/web-wallet/issues/56
1. Main screen
Need to add:
 **Show All** button for assets
- If there are only 3 or fewer assets, hide **Show all** icon
- Beam should be placed on top of assets
https://user-images.githubusercontent.com/7249484/116806769-c4640a00-ab61-11eb-8d94-6811a22071e4.png

2. **Assets screen** https://zpl.io/bl3EnNk
Assets screen is opening via clic

[2022-01-11 16:23] Sergei-Beam opened #179 "Small view: Asset's detail screen"
moved from https://github.com/BeamMW/web-wallet/issues/56

3. Asset's detail screen https://zpl.io/V1xdLZX
Asset's detail screen should be opened after clicking on any asset (even BEAM) from:
- main screen
- from Assets screen

Asset's detail screen should contain:
- Asset name on the top of the screen
- info icon next to the asset name (will be added in https://github.com/BeamMW/web-wallet/issues

[2022-01-11 16:25] Sergei-Beam opened #180 "Small view: Asset's info and extended balance"
moved from https://github.com/BeamMW/web-wallet/issues/56

4. Asset's info and extended balance
Asset's info screen should contain 2 new tabs:
- Balance https://zpl.io/ag3dEGZ
- Asset info https://zpl.io/ad35oM7

4.1 BALANCE tab
**Balance** tab shows all information about asset's coins.
Here we should have two spaces (expanded by default):
AVAILABLE
LOCKED

4.1.1 AVAILABLE contains the information

[2022-01-11 18:09] kovaletskaterina opened #182 "The list of transactions is shown incorrectly"
Preconditions:
There are two wallets: wallet A (web-wallet) and wallet B (desktop wallet).
**Steps:**
1. Open the receive screen at wallet A and copy the address.
2. Go to the send screen at wallet B, enter the copied address in the "send to" field, put some amount and confirm the transaction.
3. Repeat the 2nd step.
4. Go to wallet A. Only the second transaction is displayed, the list of transact

[2022-01-11 19:40] Sergei-Beam commented on #50
The confirmation dialogue should be dynamically changed if the user tries to send an asset
Currently, the **change**, **remaining** are shown incorrectly and **beam remaining** should be added dynamically

So If the user sends an **asset**, the field should include the next information:
**Amount** - sending **asset** amount
**Transaction fee** - always measured in beam
**Change** - the remainder o

[2022-01-11 19:46] kovaletskaterina commented on #22
Send screen:
1. Need to replace the elements of the header according to the design https://zpl.io/Vk4z3YZ
3. Under the address field comment _"Regular address"_ should be changed to _"Online address_".
4. Comment under the address field should be changed to _"Offline address: 1 transaction left. Ask receiver to come online to support more offline transactions."_
5. Address type should be changed f

[2022-01-11 20:07] kovaletskaterina commented on #80
Receive screen
Need to add the "Address details" and QR-code button and "Comment" block on the receive screen.

3. The field "amount" should have the same title as on the design ("requested amount (optional").
- The comment "To ensure a better privacy, the new address is generated every time." shouldn't be shown.
4. According to the design, when the switcher on the "ADVANCED" block is on, the comm

[2022-01-12 08:42] kovaletskaterina commented on #182
Checked

[2022-01-12 08:42] #182 closed, assigned to kovaletskaterina

[2022-01-12 10:40] kovaletskaterina opened #183 "Update Beam logo in the web-wallet full view"
1. In the header https://zpl.io/bey91lz
![image](https://user-images.githubusercontent.com/83376495/149121799-a30b1802-50fe-429f-9230-01ab7874dc6e.png)
2. Create wallet https://zpl.io/a7xgqKp https://zpl.io/bL0159G
![image](https://user-images.githubusercontent.com/83376495/149121857-75018e90-e3f4-4519-9b49-6c72b09efae4.png)
3. Login screen https://zpl.io/bJ0YGAD
![image](https://user-images.githu

[2022-01-12 10:45] kovaletskaterina commented on #26
The small view was checked.
The full view was moved to https://github.com/BeamMW/web-wallet/issues/183

[2022-01-12 10:45] #26 closed, assigned to kovaletskaterina

[2022-01-12 11:39] kovaletskaterina commented on #39
Checked

[2022-01-12 11:39] #39 closed, assigned to kovaletskaterina

[2022-01-13 07:21] iscander01 opened #184 "List of connected sites"
List of connected sites in settings.
A disconnect button is required for each connected site.

[2022-01-13 14:33] kovaletskaterina opened #185 "The fee for the maximum anonymity transaction is indicated incorrectly"
**Steps:**
1. Copy the address with maximum anonymity set in the Beam wallet.
2. Go to the web-wallet send screen, paste the copied address with maximum anonymity set into the "Send to" field and put some amount.
3. Press the "Next" button. Pay attention that the transaction fee is indicated in a smaller amount.
![image](https://user-images.githubusercontent.com/83376495/149342637-af8561e1-c5ba-4f

[2022-01-13 14:58] kovaletskaterina opened #186 "Incorrect transaction type for maximum anonymity address"
Please change the transaction type from "Max Privacy" to "Maximum anonymity" on the send confirmation screen.
![image](https://user-images.githubusercontent.com/83376495/149349792-170af158-d9c9-4526-96ec-4b51d37fd448.png)

[2022-01-14 08:12] kovaletskaterina commented on #27
Checked

[2022-01-14 08:12] #27 closed, assigned to kovaletskaterina

[2022-01-14 08:20] kovaletskaterina commented on #186
Checked

[2022-01-14 08:20] #186 closed, assigned to kovaletskaterina

[2022-01-14 13:52] kovaletskaterina commented on #185
Сhecked

[2022-01-14 13:52] #185 closed, assigned to kovaletskaterina

[2022-01-14 14:27] kovaletskaterina opened #189 "The fee for the Public offline transaction is indicated incorrectly"
**Steps:**
1. Copy the Public offline address from the Beam wallet.
2. Go to the web-wallet send screen, paste the copied public offline address into the "Send to" field and put some amount.
3. Press the "Next" button. Pay attention that the transaction fee is indicated in a smaller amount.
![image](https://user-images.githubusercontent.com/83376495/149526790-48c14083-4134-450b-aefa-7a28d51ac75f.p

[2022-01-14 14:48] kovaletskaterina opened #190 "Incorrect transaction type for Public offline address"
Please change the transaction type from "Regular" to "Public offline" on the send confirmation screen.
![image](https://user-images.githubusercontent.com/83376495/149533862-4b4dbb34-4eda-46fb-8cbf-d34ef730066f.png)

**Public offline address:**
2PK8JoXNaa43UkCvxzgimFAfcNYv7DGRUeH7bkr9H7BEfoAw51BaSAnFA3xkXMMN1jkqATHQivX8xcRTkDCevbvErv416UEzgsjsyekAbq9nSeAe9y1vYB4GwcBNTAYiCoiWRKeCDrMZG2gPa7V3D56Uxz6z

[2022-01-17 13:11] Sergei-Beam commented on #34
checked

[2022-01-17 13:11] #34 closed, assigned to Sergei-Beam

[2022-01-17 13:13] Sergei-Beam commented on #126
need to increase the click area of the menu icon
![image](https://user-images.githubusercontent.com/44496108/149775402-9c580572-fad4-412b-9fb4-de26f6b7c611.png)

[2022-01-18 11:24] Sergei-Beam commented on #126
checked

[2022-01-18 11:24] #126 closed, assigned to Sergei-Beam

[2022-01-19 05:40] anatolse opened #195 "Restore from mobile recovery file"
The wallet has the ability to recover from file. It is faster than restoring by mobile node protocol. Please, add this feature to web wallet.
WASM client already has this functionality.
https://github.com/BeamMW/beam/wiki/WASM-wallet-client#importrecovery

Here are URLs where web wallet can download recovery files for different kinds of the BEAM network
https://mobile-restore.beam.mw/testnet/testn

[2022-01-19 09:02] kovaletskaterina commented on #189
Checked

[2022-01-19 09:02] #189 closed, assigned to kovaletskaterina

[2022-01-19 09:07] kovaletskaterina commented on #190
Checked

[2022-01-19 09:07] #190 closed, assigned to kovaletskaterina

[2022-01-19 10:55] Sergei-Beam commented on #50
We used the wrong change for assets. Change for an asset should be taken from value **asset_change** from the response _CalcChange_
![image](https://user-images.githubusercontent.com/44496108/150116501-d3d59fca-ca60-4865-a875-7bbdce7dfd0e.png)

[2022-01-19 11:14] Sergei-Beam commented on #112
checked

[2022-01-19 11:14] #112 closed, assigned to Sergei-Beam

[2022-01-19 14:21] razoorka commented on #22
According to @beam-mw address, details should be moved to the next release.

[2022-01-19 14:44] kovaletskaterina commented on #146
The amount of the incoming and outgoing transactions should be coloured depending on the type of transaction (#0bccf7 for incoming and #da68f5 for outgoing transactions).

1) General info
2. Need to add a copy icon to transaction ID;
3. Need to add green hyper-icon (external link) to a blockchain Explorer. Place it in one line with Kernel ID.
4. Need to change the text under amount from "calculate

[2022-01-19 14:45] razoorka commented on #146
1. General info
   4. Rates are hidden.
    5. Rates are hidden.
    6. We do not have this field in BE response.

[2022-01-19 14:48] razoorka commented on #146
2. Details for maximum anonymity transactions
-need to add the action field - we do not have this field in payload
-need to add the comment field - comment will be shown if it is not empty

[2022-01-19 14:50] razoorka commented on #146
3. Payment proof
-need to change the text under amount from "calculated with the exchange rate at the current time" to "Calculated with the exchange rate at the time of transaction." - if the rate was successfully calculated - rates are hidden.
-need to add the "Code" and the copy icon next to it - we do not have this field in BE response.
-add the address type under the receiving address - we do

[2022-01-20 10:00] kovaletskaterina commented on #111
Checked

[2022-01-20 10:00] #111 closed, assigned to kovaletskaterina

[2022-01-20 10:09] Sergei-Beam commented on #50
checked

[2022-01-20 10:09] #50 closed, assigned to Sergei-Beam

[2022-01-20 10:14] Sergei-Beam commented on #56
moved to https://github.com/BeamMW/web-wallet/issues/178
 1. Main screen
 Need to add:
 **Show All** button for assets
- If there are only 3 or fewer assets, hide **Show all** icon
- Beam should be placed on top of assets
https://user-images.githubusercontent.com/7249484/116806769-c4640a00-ab61-11eb-8d94-6811a22071e4.png

[2022-01-20 10:14] Sergei-Beam commented on #56
@razoorka let's do here only the next :

Eye icon for hiding ALL balances.

By default it is unclicked and all balances are presented
if an icon is clicked then the icon become strikethrough and ALL amounts in balances and transactions should be hidden
if the user clicks strikethrough eye again ALL amounts in balances and transactions should be shown

[2022-01-20 11:53] kovaletskaterina opened #199 "[Send screen]: add the "address details" button and screen"
The "address details" button and screen should be added for all the types of addresses, for example:
1. regular address https://zpl.io/2EGmRP8
![image](https://user-images.githubusercontent.com/83376495/150330144-444df3ce-b86c-49b4-807f-3db8b01ba343.png)
![image](https://user-images.githubusercontent.com/83376495/150155958-85221166-b0e4-47fb-9f8f-d42c96732c19.png)
2. address with maximum anonymity

[2022-01-20 11:53] kovaletskaterina opened #200 "[Receive screen]: add the "address details" button and screen"
The "address details" button and screen should be added for all the types of addresses, for example:
1. regular address
https://zpl.io/VDQpZWW
![image](https://user-images.githubusercontent.com/83376495/150332789-771ba548-6805-4974-83a7-7679c1ab25c1.png)
https://zpl.io/aXyoEOP
![image](https://user-images.githubusercontent.com/83376495/150332919-e9aa5975-3f22-4463-bc38-94d788928b96.png)
2. address

[2022-01-20 15:48] kovaletskaterina commented on #22
On the send confirmation screen:
1. the transaction type for the regular address should be changed from "online" to "regular";
![image](https://user-images.githubusercontent.com/83376495/150338346-44951c45-4ae6-48ca-b949-2e1ab24cde51.png)
2. the comment "The recipient must get online within the next 12 hours and you should get online within 2 hours afterwards." should be hidden.
![image](https://u

[2022-01-21 14:17] iscander01 opened #201 "Add tx_send method confirmation for DAPPS"

[2022-01-24 11:41] kovaletskaterina commented on #22
Checked

[2022-01-24 13:27] kovaletskaterina commented on #80
The text on the QR-code pop-up for the address with maximum anonymity set should be changed to "Transaction can last at most 72 hours. Min transaction fee is 0.01 BEAM." or "Transaction can last indefinitely. Min transaction fee is 0.01 BEAM." according to the designs https://zpl.io/bJL3zo9 and https://zpl.io/bleWyKD

![image](https://user-images.githubusercontent.com/83376495/150789973-4dd769f4-5

[2022-01-24 16:33] kovaletskaterina commented on #146
_The colour of the amount of the incoming transaction should be #0bccf7. The colour of the outgoing transaction should be #c061e0_
![image](https://user-images.githubusercontent.com/83376495/150797782-355ea365-dcd3-47a8-90b5-14cce06194cf.png)
![image](https://user-images.githubusercontent.com/83376495/150797812-c8a486c4-b1e7-4f45-ac5b-fa1bb05fd3d0.png)
_Please, highlight the amount of the transact

[2022-01-24 16:37] Sergei-Beam commented on #118
need to try to reproduce

[2022-01-24 16:39] Sergei-Beam commented on #113
checked

[2022-01-24 16:39] #113 closed, assigned to Sergei-Beam

[2022-01-24 17:45] Sergei-Beam commented on #56
@razoorka looks like we need to store it in local storage or somehow bind to the session because:
- if I clicked the eye, collapsed and expanded the extension, then it is reset - the balances are made visible

- if I pressed the eye and made the lock wallet, and then unlock - the balances are made visible
![image](https://user-images.githubusercontent.com/44496108/150835666-0deabd56-b61b-45a3-bbae

[2022-01-24 19:24] Sergei-Beam commented on #184
checked

[2022-01-24 19:24] #184 closed, assigned to Sergei-Beam

[2022-01-25 12:13] kovaletskaterina commented on #80
Checked

[2022-01-25 12:13] #80 closed, assigned to kovaletskaterina

[2022-01-25 12:32] Sergei-Beam opened #208 "Small view - Transaction's list: transaction with two or more assets"
![image](https://user-images.githubusercontent.com/44496108/150974324-c19005f3-93f8-4072-85ff-bba7813c115e.png)
**Icons and title name rules:**
- If there are 2 coins - make both icons with full opacity and show only the first coin name and ate "+1".
- If there are 3+ coins - make only 1st icon with full opacity and other with 30% opacity, and show only the first coin name and ate "+X".

**Coin pl

[2022-01-25 12:34] Sergei-Beam commented on #144
1. checked

2. will be added in API v6.3
3. &  4. moved to https://github.com/BeamMW/web-wallet/issues/208

[2022-01-25 12:34] #144 closed, assigned to Sergei-Beam

[2022-01-25 12:41] #99 closed, assigned to anatolse, chapati

[2022-01-25 18:14] Sergei-Beam opened #209 "Add env configuring for web wallet"
Need to add env configuring for web wallet to have the ability to configure the network either:
- masternet
- testnet
- mainnet

[2022-01-26 14:45] Sergei-Beam commented on #56
checked

[2022-01-26 14:58] Sergei-Beam commented on #195
checked on the master branch

need to check on testnet and mainnet after build will be ready

[2022-01-26 15:57] Sergei-Beam commented on #201
checked

[2022-01-26 15:57] #201 closed, assigned to Sergei-Beam

[2022-01-27 10:49] kovaletskaterina opened #214 "[TX info screen] change color of the fee amount"
The color of the fee amount should be white (#ffffff) and shouldn't be highlighted (https://zpl.io/aXyj6Oj).
![image](https://user-images.githubusercontent.com/83376495/151344263-72c9514b-9ead-4ff0-bb75-964dcc5ab67b.png)

[2022-01-27 10:53] kovaletskaterina opened #215 "[TX info screen] hide the subtitle “General” for the contract transactions"
The subtitle “General” shouldn’t be shown on the "Transaction info" screen for the contract transactions (https://zpl.io/anzB5lk).
![image](https://user-images.githubusercontent.com/83376495/151344665-4b568c7f-211e-4df8-b4b6-639bafef6181.png)

[2022-01-27 10:58] kovaletskaterina opened #216 "[TX info screen] Add Confidential asset ID"
For the contract transactions (without payment proof) add Confidential asset ID next to CA amounts and "link" icons that lead to the asset in blockchain explorer (example: https://explorer.beam.mw/assets/details/2) https://zpl.io/anzB5lk.
![image](https://user-images.githubusercontent.com/83376495/151345287-9ac08de7-d3b9-40ef-9a2a-e7a940f6bae9.png)

[2022-01-27 13:27] kovaletskaterina opened #218 "[TX info screen] add the rates for all the types of transactions"
Need to add the rates:
1. under amount on the general section of the “Transaction info” screen with a comment "Calculated with the exchange rate at the time of the transaction." - if the rate was successfully calculated (for the regular address https://zpl.io/aXyj6Oj);
2. under amount on the general section of the “Transaction info” screen with a comment "Calculated with the exchange rate at the t

[2022-01-27 13:32] kovaletskaterina opened #219 "[TX info screen] add the address type field"
**Can’t be done and locked till getting API response**
- https://github.com/BeamMW/beam/issues/1865

Add the address type field on the “Transaction info” screen (General/Payment proof sections) for all the types of addresses (for example, regular address https://zpl.io/aXyj6Oj; Maximum anonymity address https://zpl.io/V1AjWM5; Payment proof section for the regular address https://zpl.io/29dGpYl)
!

[2022-01-27 13:34] kovaletskaterina opened #220 "[TX info screen] add the Source field and the Action field"
**Can’t be done and locked till getting API response**
- https://github.com/BeamMW/beam/issues/1864

On the transaction info screen for all the types of transactions (for example, contract transactions https://zpl.io/anzB5lk; regular transactions https://zpl.io/aXyj6Oj; maximum anonymity transactions https://zpl.io/V1AjWM5) the Source field and the Action field should be added.
![image](https://us

[2022-01-27 13:35] kovaletskaterina opened #221 "[TX info screen] add the payment proof “Code”"
On the Payment proof section in the "Transaction info" screen add the payment proof "Code" with a copy icon (https://zpl.io/29dGpYl)
![image](https://user-images.githubusercontent.com/83376495/151360680-0906d3e0-0552-42b1-8cce-ec906b2c873e.png)

[2022-01-27 14:46] kovaletskaterina opened #222 "Add "Comment" block to send, receive and transaction info screens"
Need to add the "Comment" block:
- on the receive screen (https://zpl.io/aX78Pgl);
![image](https://user-images.githubusercontent.com/83376495/151360828-039e6d43-7e81-4c41-9a6f-2130484d3f61.png)
- on the send screen (https://zpl.io/2p3elQl);
![image](https://user-images.githubusercontent.com/83376495/151377446-efc6fa72-da66-473a-86fb-074a1342ffbd.png)
- on the transaction info screen (https://zpl.

[2022-01-27 15:07] kovaletskaterina commented on #146
- moved to https://github.com/BeamMW/web-wallet/issues/214
- moved to https://github.com/BeamMW/web-wallet/issues/215
- moved to https://github.com/BeamMW/web-wallet/issues/216

[2022-01-27 15:07] #146 closed, assigned to kovaletskaterina

[2022-01-28 09:14] kovaletskaterina opened #223 "Incorrect screen order while pressing the “Restore” button on authorization screen"
![image](https://user-images.githubusercontent.com/44496108/151762550-e1dc26c0-8775-4a73-95a3-c7700e8ff3ed.png)
Steps to reproduce:
1.	Open wallet.
2.	Press the “Lock wallet” button;
3.	Click “Restore wallet or create a new one” button and then tap “I agree” on the “Restore wallet or create a new one” pop-up;
**Expected result:** Create/Restore screen is opened.
![image](https://user-images.github

[2022-01-28 10:00] Sergei-Beam commented on #221
We already have it in response _ExportPaymentProof_ which required only tx_id.
Please get it from it and add it to UI
![image](https://user-images.githubusercontent.com/44496108/151526427-784db886-69e0-48bb-a307-a0293c0f5b13.png)

[2022-01-28 10:13] Sergei-Beam commented on #220
We already have the source in 6.3 API
For the Action field, the task was created
- https://github.com/BeamMW/beam/issues/1864

[2022-02-01 11:16] chapati commented on #218
Doc are in https://github.com/BeamMW/beam/wiki/Beam-wallet-protocol-API-v6.3 tx_list

[2022-02-01 11:17] chapati commented on #18
This is done.

[2022-02-01 11:17] #18 closed, assigned to chapati

[2022-02-01 12:26] Sergei-Beam opened #225 "The wallet starts a full sync restore even when the file is downloaded after deleting the wallet via the extension"
The wallet starts a full sync restore even when the file is downloaded  when we're deleting the wallet via the extension and try to restore another wallet
**Pre-conditions:** The web wallet is created
**Steps:**
- run web wallet
- navigate to settings screen using burger menu
- Click "remove current wallet" and confirm with a password
- Click the restore button, fill the seed phrase and start rest

[2022-02-02 10:42] Sergei-Beam commented on #225
checked

[2022-02-02 10:42] #225 closed, assigned to Sergei-Beam

[2022-02-02 11:32] kovaletskaterina commented on #223
Checked

[2022-02-02 11:32] #223 closed, assigned to kovaletskaterina

[2022-02-02 13:11] Sergei-Beam commented on #195
checked

[2022-02-02 13:11] #195 closed, assigned to Sergei-Beam

[2022-02-02 13:11] Sergei-Beam commented on #209
checked

[2022-02-02 13:11] #209 closed, assigned to Sergei-Beam

[2022-02-03 08:45] Sergei-Beam commented on #114
updated on store

[2022-02-03 08:45] #114 closed, assigned to Sergei-Beam

[2022-02-04 12:07] kovaletskaterina commented on #221
Checked

[2022-02-04 12:07] #221 closed, assigned to kovaletskaterina

[2022-02-07 07:29] Sergei-Beam opened #228 "Change storing the List of connected sites"
List of connected sites in settings.
Currently, the list of connected sites in settings stores full routing and it looks inconvenient because is one site we ask for many approves.
Need to change storing for List of connected sites to DNS level instead of storing full routing.
![image](https://user-images.githubusercontent.com/44496108/152743601-77671625-9c8d-4578-8e99-953435adc3d9.png)

[2022-02-07 07:53] Sergei-Beam opened #229 "Locked Wallet stucks after updating the DApp page"
Steps:
- create/restore wallet
- go to http://3.19.141.112/app/plugin-dao-core/
- approve connection
- open wallet
- navigate to three dots on the right corner
- Click lock wallet
- go back to http://3.19.141.112/app/plugin-dao-core/
- refresh the page
- enter the password on the confirmation window
Expected: After entering the password wallet opened
Actual: After entering the password wallet stuc

[2022-02-07 08:00] Sergei-Beam opened #230 "Delete button removes all connections if they have the same DNS in the routing"
Looks like a related problem with https://github.com/BeamMW/web-wallet/issues/228 but need to investigate

if the connected sites have the same DNS in the routing then the delete button removes all connections
![image](https://user-images.githubusercontent.com/44496108/152747710-535f4f33-8325-4948-a54a-df3032162702.png)

[2022-02-07 09:34] kovaletskaterina commented on #94
Checked

[2022-02-07 09:34] #94 closed, assigned to kovaletskaterina

[2022-02-07 10:18] kovaletskaterina opened #231 "[TX info screen] add the Action field"
**Can’t be done and locked till getting API response**
- https://github.com/BeamMW/beam/issues/1864

On the transaction info screen for all the types of transactions (for example, contract transactions https://zpl.io/anzB5lk; regular transactions https://zpl.io/aXyj6Oj; maximum anonymity transactions https://zpl.io/V1AjWM5) the Action field should be added.
![image](https://user-images.githubuserc

[2022-02-07 10:34] kovaletskaterina commented on #220
The Source field is checked. For the Action field a new task is created.
- https://github.com/BeamMW/web-wallet/issues/231

[2022-02-07 10:34] #220 closed, assigned to kovaletskaterina

[2022-02-08 06:36] gingervik commented on #63
irrelevant

[2022-02-08 06:36] #63 closed, assigned to gingervik

[2022-02-08 08:03] Sergei-Beam opened #232 "Wallet stops after clicking the lock wallet button"
When the user clicks the Lock button we should show the authorization screen but the wallet stops after clicking the lock button instead of proceeding to work in the background.

Steps:
- create/restore wallet
- open wallet
- navigate to three dots on the right corner
- Click lock wallet
Expected: the authorization screen is shown and the wallet proceeding to work in the background.
Actual: after

[2022-02-10 10:37] kovaletskaterina commented on #222
Checked

[2022-02-10 10:57] #222 closed, assigned to kovaletskaterina

[2022-02-10 13:39] Sergei-Beam commented on #230
checked

[2022-02-10 13:39] #230 closed, assigned to Sergei-Beam

[2022-02-10 13:39] Sergei-Beam commented on #228
checked

[2022-02-10 13:39] #228 closed, assigned to Sergei-Beam

[2022-02-11 12:04] kovaletskaterina commented on #232
Checked

[2022-02-11 12:04] #232 closed, assigned to kovaletskaterina

[2022-02-14 10:00] Sergei-Beam commented on #229
checked

[2022-02-14 10:00] #229 closed, assigned to Sergei-Beam

[2022-02-16 15:09] kovaletskaterina opened #235 "When the wallet is locked, the Create/Restore screen doesn't open"
Steps to reproduce:

1. Open wallet.
2. Press the “Lock wallet” button;
3. Click “Restore wallet or create a new one” button and then tap “I agree” on the “Restore wallet or create a new one” pop-up;
**Expected result:** Create/Restore screen is opened.
**Actual result:** The authorization screen is opened.
![87F964DF-CEE3-47D9-AB3C-0FF4E27F7689](https://user-images.githubusercontent.com/44496108/

[2022-02-22 14:29] kovaletskaterina commented on #120
Checked

[2022-02-22 14:29] #120 closed, assigned to kovaletskaterina

[2022-03-10 11:27] razoorka commented on #178
The screen was done without sorting cause I don't understand how the sort should work and what field it should be based on.

[2022-03-10 11:29] razoorka commented on #180
On hold because of lack of information in API.

[2022-03-11 10:14] kovaletskaterina commented on #235
Checked

[2022-03-11 10:14] #235 closed, assigned to kovaletskaterina

[2022-03-11 10:30] kovaletskaterina commented on #29
Checked

[2022-03-11 10:30] #29 closed, assigned to kovaletskaterina

[2022-03-12 13:35] razoorka commented on #119
it is not possible to change the logic of displaying errors, but I have added an error screen
<img width="522" alt="Screenshot 2022-03-12 at 15 34 57" src="https://user-images.githubusercontent.com/5682452/158020028-68acd21f-e602-4f87-b3d8-d8ebe1512410.png">
.

[2022-03-14 08:25] razoorka commented on #31
In the current implementation, we do not have time calculation, but all other stuff seems fine.

[2022-03-14 12:27] kovaletskaterina commented on #103
Checked

[2022-03-14 12:27] #103 closed, assigned to kovaletskaterina

[2022-03-14 17:21] razoorka commented on #218
`asset_id: 0
comment: ""
confirmations: 7
create_time: 1647277866
fee: 1100000
height: 472567
income: false
kernel: "6e0fa0f1be8a53277a72cab9b52c249745061ec0033b3ed8682b608fd2ab96f1"
receiver: "9DfkirZYqjTSuHBGYKxb3ifi3oGvsjpuoD6h7Cr5mEp7ENoH3UUPnR1eu7Gb499Voa5YbhzCJBwnykdURXDma2RcF62VXtuGLhB1Us7mP1chTALsPajo2ks886bgGZK4ZZC882LvWDeb3VQPx1cTpjzxMKg5u9xi3asbkPGPBbZw96fHnXRDApVHp1CyqCWgVx8ebhFMM13Gdc

[2022-03-15 08:28] kovaletskaterina commented on #32
Checked

[2022-03-15 08:28] #32 closed, assigned to kovaletskaterina

[2022-03-15 10:57] kovaletskaterina commented on #25
Checked.
The text "In case you’d like to re-use an earlier created regular address please use the Address Book." will be added after the implementation Address Book.

[2022-03-15 10:57] #25 closed, assigned to kovaletskaterina

[2022-03-15 20:10] kovaletskaterina opened #254 "Small view: Sorting on the Assets screen"
Moved from https://github.com/BeamMW/web-wallet/issues/178

1. **Assets screen** https://zpl.io/bl3EnNk
After opening Assets screen by default all assets are sorted by "_Recently used_"

2. **Sorting** https://zpl.io/bl3EnNk
Need to add sorting icon which calls after clicking the sorting list
All sorting actions should be added from the list below:
- _Recently used_
- _Oldest used_
- _Amount: larg

[2022-03-15 20:14] kovaletskaterina commented on #178
Checked

- Sorting was moved to the https://github.com/BeamMW/web-wallet/issues/254

[2022-03-15 20:14] #178 closed, assigned to kovaletskaterina

[2022-03-21 12:24] kovaletskaterina commented on #219
The address type field on the "Transaction info" screen of regular (online) and SBBS addresses is absent.

[2022-03-21 12:25] #31 closed, assigned to Sergei-Beam

[2022-03-21 13:14] kovaletskaterina commented on #215
Checked

[2022-03-21 13:14] #215 closed, assigned to kovaletskaterina

[2022-03-21 13:23] Sergei-Beam commented on #118
cannot reproduce

[2022-03-21 13:23] #118 closed, assigned to Sergei-Beam

[2022-03-21 13:41] Sergei-Beam commented on #59
irrelevant

[2022-03-21 13:41] #59 closed, assigned to Sergei-Beam

[2022-03-21 16:40] Sergei-Beam commented on #218
![image](https://user-images.githubusercontent.com/44496108/159309612-93fd6398-f729-40de-8fd9-dec65b3ebcca.png)
@razoorka Please add some changes here:
- add left padding for text under Asset ammount
- make text style according to the design (color, opacity etc. )https://zpl.io/V1AjWM5
`
.-USD-alculate {
  width: 303px;
  height: 30px;
  margin: 2px 0 0 10px;
  opacity: 0.5;
  font-family: Proxima

[2022-03-22 12:19] kovaletskaterina commented on #219
Checked

[2022-03-22 12:19] #219 closed, assigned to kovaletskaterina

[2022-03-22 13:50] kovaletskaterina commented on #91
Design: https://app.zeplin.io/project/5b379c2c38cb39e73e5f8889/screen/5da451dc9f4d3630603cbee2

**1. In progress (receive regular online)**
Incorrect status for the incoming regular transaction. Should be **in progress**.
![image](https://user-images.githubusercontent.com/83376495/159480794-53f7f39a-8ea1-4fad-872f-6bb4d629fa78.png)
![image](https://user-images.githubusercontent.com/83376495/159480

[2022-03-23 16:19] kovaletskaterina opened #258 "Max amount of any asset can't be sent"
While sending the max amount of any asset, the warning message shouldn't be shown.
The fee is getting from beam amount, not from the asset's.
![photo_2022-03-22_16-57-34](https://user-images.githubusercontent.com/83376495/159732763-88fbd92e-fb8c-4037-98a9-11ca0ffd0c15.jpg)

[2022-03-25 09:34] Sergei-Beam opened #259 "After click on Send/Receive from Asset's details screen asset should be preselected"
After click on Send/Receive from Asset's details screen asset should be preselected from coin dropdown
Web
![image](https://user-images.githubusercontent.com/44496108/160094156-e11d50aa-528c-455c-993b-a405487b29b3.png)
![image](https://user-images.githubusercontent.com/44496108/160094172-be9e8367-9315-4ab6-a6eb-03367da991bf.png)
![image](https://user-images.githubusercontent.com/44496108/160094180

[2022-03-25 09:35] Sergei-Beam commented on #179
checked

[2022-03-25 09:35] #179 closed, assigned to Sergei-Beam

[2022-03-28 08:30] kovaletskaterina commented on #258
Checked

[2022-03-28 08:30] #258 closed, assigned to kovaletskaterina

[2022-03-28 13:11] Sergei-Beam commented on #119
checked

[2022-03-28 13:11] #119 closed, assigned to Sergei-Beam

[2022-03-29 11:45] kovaletskaterina commented on #218
- Add the space between the rate and the comment

![image](https://user-images.githubusercontent.com/83376495/160592606-4ef1d759-ec3c-415f-a802-484c5714310b.png)

- Need to add the text under amount "exchange rate was not available at the time of transaction." - if the rate was not available. And do not show USD rate. https://zpl.io/2pgRwRJ

![image](https://user-images.githubusercontent.com/83376

[2022-04-04 10:32] Sergei-Beam commented on #259
Coin isn't preselected if I'm clicking receive button from Asset's details
![7CB8B3C4-99C6-4790-8045-BE98753DA546](https://user-images.githubusercontent.com/44496108/161526102-1819f79d-a82c-4b21-9497-882997ce22e5.GIF)

[2022-04-05 11:55] kovaletskaterina commented on #214
Checked

[2022-04-05 11:55] #214 closed, assigned to kovaletskaterina

[2022-04-05 12:04] kovaletskaterina commented on #218
Checked

[2022-04-05 12:04] #218 closed, assigned to kovaletskaterina

[2022-04-05 15:19] kovaletskaterina opened #265 "When wallet restores from the lock screen, the wallet doesn't work"
1. Open the wallet;
2. Tap three dots in the upper right corner and then click the "lock wallet" button;
3. Press the "Restore wallet or create a new one" button and tap "I agree" on the "Restore wallet or create a new one" pop up.
4. Click "Restore wallet" and tap "I agree" on the "Restore wallet" pop up;
5. Fill in the seed phrase and tap the "Submit" button;
6. Enter and confirm password and pr

[2022-04-07 09:18] kovaletskaterina opened #266 "Add rates to the amount field on the send confirmation screen"
Need to add rates to the amount field on the send confirmation screen
![image](https://user-images.githubusercontent.com/83376495/162164038-becf17f0-67e0-49a4-8d3d-dec1c2739df4.png)

[2022-04-07 09:24] kovaletskaterina opened #267 "[Receive screen] change the scope of the maximum anonymity toggle"
The toggle has a very wide scope of action
![2022-04-06_19-08-20](https://user-images.githubusercontent.com/83376495/162166181-16f7be9d-a9d6-4b52-84c9-0ffad90877c2.gif)

[2022-04-10 13:17] razoorka commented on #266
JFYI, at the moment when the transaction was not sent, we only have the BEAM rate. If we need such improvement for all assets, we need an additional BE endpoint to retrieve the asset rate.

[2022-04-11 07:54] kovaletskaterina commented on #267
Checked

[2022-04-11 07:54] #267 closed, assigned to kovaletskaterina

[2022-04-11 09:46] kovaletskaterina commented on #259
Checked

[2022-04-11 09:46] #259 closed, assigned to kovaletskaterina

[2022-04-13 09:58] kovaletskaterina opened #269 "The address type on the send confirmation screen is incorrectly shown"
When you change address on the send screen from regular offline to online (SBBS) address, the transaction type on the send confirmation screen doesn't change from offline to regular. Looks like the wallet client doesn't re-request the information about the pasted address.

**Steps to reproduce:**
1. Open the desktop wallet, go to the receive screen and copy regular address.
2. Go to the web wallet

[2022-04-13 12:28] kovaletskaterina commented on #266
We don't have rate for any asset, that is why we don't need rates for them. Let's add the rates for beam amount.

[2022-04-14 15:31] kovaletskaterina opened #270 "While sending a max amount using offline addresses the transactions fail"
While sending a max amount using maximum anonymity, public offline or regular (offline) addresses, the remaining is getting and the transactions fail.

**Steps to reproduce:**
1. Open the wallet, go to the "Receive" screen and copy the maximum anonymity/regular/(public offline) address.
2. Go to the "Send" screen, paste the copied address, press the "max" button on the amount field and tap the "ne

[2022-04-18 20:04] kovaletskaterina opened #272 "The wrong format is displayed for the smallest balance and tx amount"
For the amount  values of 0,0000000X and 0,000000X the incorrect formats are displayed in the:
- balance tab;
- transaction list;
- transaction details list;
- send confirmation screen;
- assets screen;
- asset's details screen.

The balance should be shown as on the desktop wallet, the amount on the tx list should be displayed in full size.

![image](https://user-images.githubusercontent.com/8337

[2022-04-18 20:20] kovaletskaterina opened #273 "If the rate is less then 1 cent, the "+" symbol shouldn't be shown"
The "+" symbol shouldn't be shown on the transaction list, if the rate is less then 1 cent.
![image](https://user-images.githubusercontent.com/83376495/163870484-6cff5c6e-efc8-45f2-b971-b399cb80e716.png)

[2022-04-19 10:58] kovaletskaterina opened #274 "When the shielded coins are sent, the node connection is lost"
**Preconditions:**
There are some shielded coins on the web wallet.
**Steps to reproduce:**
1. Open the desktop wallet, go to the receive screen and copy an address;
2. Open web wallet, press the "Send" button;
3. Past the copied address into the send field, enter some shielded amount in the amount field and press the "next" button;
4. Press the "send" button on the send confirmation screen.
5. Th

[2022-04-19 12:58] kovaletskaterina opened #275 "[Send screen] The transaction type switcher doesn't disappear after removing the address from the address field"
The transaction type (online/offline) switcher field should disappear, when the regular address is removed from the address field on the send screen.
![2022-04-19_15-48-47](https://user-images.githubusercontent.com/83376495/164007677-11e81001-0444-4b96-a420-b4c4c36c83b5.gif)

[2022-04-20 08:55] kovaletskaterina commented on #266
Checked

[2022-04-20 08:55] #266 closed, assigned to kovaletskaterina

[2022-04-20 10:47] kovaletskaterina opened #279 "Incorrect smallest amount that can be requested or entered into the amount field"
On the "Receive" screen in the requested amount field and on the "Send" screen in the amount field, the smallest amount you can require or enter in the amount field shouldn't be less than 0.00000001 BEAM. Exclude the possibility of entering a smaller number.
![2022-04-20_13-24-22](https://user-images.githubusercontent.com/83376495/164210221-d37cd3ce-705e-43d5-8cdf-59eca26fb9f9.gif)
![2022-04-20_13

[2022-04-20 11:16] kovaletskaterina commented on #272
The zeros should be cut in such formats as 0.000000X0, 0.00000X00
![image](https://user-images.githubusercontent.com/83376495/164217372-62ac2b21-b47e-4a88-a4fe-8b51afb2cfd7.png)

[2022-04-20 11:21] kovaletskaterina commented on #273
Checked

[2022-04-20 11:21] #273 closed, assigned to kovaletskaterina

[2022-04-20 12:14] kovaletskaterina commented on #270
Checked

[2022-04-20 12:14] #270 closed, assigned to kovaletskaterina

[2022-04-20 12:22] kovaletskaterina commented on #275
Checked

[2022-04-20 12:22] #275 closed, assigned to kovaletskaterina

[2022-04-20 13:08] kovaletskaterina commented on #269
Checked

[2022-04-20 13:08] #269 closed, assigned to kovaletskaterina

[2022-04-21 16:08] kovaletskaterina commented on #272
Incorrect amount values of the "Change" and the "Remaining" fields on the send confirmation screen.
![image](https://user-images.githubusercontent.com/83376495/164480363-28daff6c-3936-4700-9244-dac62a3a9c80.png)

[2022-04-21 16:11] kovaletskaterina opened #280 "Incorrect amount format for 0 balance"
When the wallet balance is equal to 0, there should be only 0 in the amount field.
![image](https://user-images.githubusercontent.com/83376495/164465779-a4b9038a-d8ac-4cdc-b8f4-d7bfad7978ad.png)

[2022-04-22 08:02] kovaletskaterina commented on #272
Incorrect available amount value on the send screen.
![image](https://user-images.githubusercontent.com/83376495/164634843-419a576f-8aed-444e-b684-abcf2346e9a7.png)

[2022-04-22 11:07] kovaletskaterina opened #281 "While sending max amount, the wallet returns remaining"
**Precondition:**
Desktop wallet.
Web wallet with amount equal to 5; 9.999 or 20 BEAM

While sending max amount equal to 5; 9.999 or 20 BEAM, the wallet returns remaining 0.00000001 BEAM instead of 0.

**Steps to reproduce:**
1. Open the desktop wallet, go to the receive screen and copy regular address.
2. Open web wallet, go to the send screen, paste the copied address and press the "max" button.

[2022-04-25 11:54] kovaletskaterina commented on #272
Amounts 0.000000X and 0.00000X are incorrectly shown.
![image](https://user-images.githubusercontent.com/83376495/165083571-69613445-8fbf-4533-9fde-9a3d58b9712f.png)

[2022-04-25 12:01] kovaletskaterina commented on #279
User shouldn't have an opportunity to enter an amount less, than 0.00000001 BEAM on the "Receive" screen in the requested amount field and on the "Send" screen in the amount field.

[2022-04-25 12:12] kovaletskaterina commented on #280
Checked

[2022-04-25 12:12] #280 closed, assigned to kovaletskaterina

[2022-04-26 09:21] kovaletskaterina commented on #272
Still reproduced
![image](https://user-images.githubusercontent.com/83376495/165265395-3e0d9441-41a4-4a8b-82b1-b3465d5cff9a.png)
![image](https://user-images.githubusercontent.com/83376495/165267631-ffeaec76-1af4-4efc-aeab-da004bca65ef.png)
![2022-04-26_12-10-29](https://user-images.githubusercontent.com/83376495/165265586-3f2c6e1d-9842-4cc1-85a2-a77400b5c717.gif)

[2022-04-26 12:43] kovaletskaterina commented on #281
Checked

[2022-04-26 12:43] #281 closed, assigned to kovaletskaterina

[2022-04-26 13:58] kovaletskaterina commented on #279
Checked

[2022-04-26 13:58] #279 closed, assigned to kovaletskaterina

[2022-04-26 15:28] kovaletskaterina opened #287 "[TX info screen] Incorrect amount color on the payment proof screen"
Change the amount color on the payment proof screen from #72fdff to #c061e0
![2022-04-26_18-09-38](https://user-images.githubusercontent.com/83376495/165332676-6767e604-cfab-4c23-91fd-dfaae4c6f9ba.gif)

[2022-04-27 12:12] kovaletskaterina opened #289 "[TX info screen] Add rate to the amount on the payment proof screen"
Need to add rate to the amount on the payment proof screen (https://zpl.io/29dGpYl)
![image](https://user-images.githubusercontent.com/83376495/165514574-db0ed516-534a-449e-90cc-c5b411c5a87f.png)

[2022-04-28 14:22] kovaletskaterina opened #290 "Need to forbid entering letters into the amount field"
Exclude the opportunity of entering letters into "amount" field on the Send and Receive screens after entering "0." or "0".
![2022-04-28_15-31-16](https://user-images.githubusercontent.com/83376495/165752522-405c9435-9391-41fa-9442-5466dd844057.gif)
![2022-04-28_15-47-10](https://user-images.githubusercontent.com/83376495/165755332-602aca20-8014-4126-b92b-7920b57fe9c3.gif)

[2022-05-04 08:37] kovaletskaterina commented on #287
Checked

[2022-05-04 08:37] #287 closed, assigned to kovaletskaterina

[2022-05-04 08:51] kovaletskaterina commented on #289
Checked

[2022-05-04 08:51] #289 closed, assigned to kovaletskaterina

[2022-05-04 11:05] kovaletskaterina commented on #272
Checked

[2022-05-04 11:05] #272 closed, assigned to kovaletskaterina

[2022-05-04 12:08] kovaletskaterina commented on #290
The user shouldn't be able to enter the amount in exponential format.
![2022-05-04_15-02-08](https://user-images.githubusercontent.com/83376495/166677406-987fdfe5-54f9-460b-900c-5fd28a9e05e8.gif)
![2022-05-04_15-02-02](https://user-images.githubusercontent.com/83376495/166677430-a013e0ed-7d8e-4d69-b64c-cbefed669694.gif)

[2022-05-04 13:16] kovaletskaterina opened #294 "While scrolling or use the up/down arrows on the keyboard, the amount changes"
When the cursor is on the "Amount" active field on the send/receive screen, and you are scrolling or tap up/down arrows on the keyboard, the amount changes.
**Steps to reproduce:**
1. Open web wallet and press the "Send/Receive" button.
2. Tap on the "Amount" active field and scroll or use up/down arrows on your keyboard.
**Expected result**: the amount doesn't change.
**Actual result:** the amoun

[2022-05-05 13:41] kovaletskaterina opened #296 "When the "eye" button is turned on, the rates should also be hidden"
Please, hide the transaction's rates on the transaction list, when the "eye" button is turned on.
![2022-05-05_12-24-03](https://user-images.githubusercontent.com/83376495/166895980-c871dd72-b480-4a60-a81c-ef7ab008c437.gif)

[2022-05-10 09:07] #70 closed, assigned to gingervik

[2022-05-10 09:07] #65 closed, assigned to gingervik

[2022-05-10 09:07] #82 closed, assigned to gingervik

[2022-05-10 09:42] Sergei-Beam commented on #143
irrelevant

[2022-05-10 09:42] #143 closed, assigned to nobody

[2022-05-10 09:42] Sergei-Beam commented on #158
irrelevant

[2022-05-10 09:42] #158 closed, assigned to nobody

[2022-05-10 09:42] Sergei-Beam commented on #159
irrelevant

[2022-05-10 09:42] #159 closed, assigned to nobody

[2022-05-10 09:42] Sergei-Beam commented on #160
irrelevant

[2022-05-10 09:42] #160 closed, assigned to nobody

[2022-05-10 09:42] Sergei-Beam commented on #161
irrelevant

[2022-05-10 09:42] #161 closed, assigned to nobody

[2022-05-10 09:42] Sergei-Beam commented on #162
irrelevant

[2022-05-10 09:42] #162 closed, assigned to nobody

[2022-05-10 11:33] Sergei-Beam commented on #149
@Sergei-Beam TO DO:
Add information about new actions
https://github.com/BeamMW/beam/wiki/Beam-wallet-protocol-API-v6.3#tx_cancel
https://github.com/BeamMW/beam/wiki/Beam-wallet-protocol-API-v6.3#tx_delete

[2022-05-10 11:38] Sergei-Beam commented on #140
https://github.com/BeamMW/beam/issues/1864

[2022-05-10 11:47] Sergei-Beam commented on #33
need to discuss with @anatolse about how it works on Desktop

[2022-05-10 11:50] Sergei-Beam commented on #199
need to ask @anatolse about how to get sbbs from regular

[2022-05-10 11:59] Sergei-Beam commented on #69
Looks like we need additional endpoint to this functionality

[2022-05-10 12:00] Sergei-Beam commented on #24
already done

[2022-05-10 12:00] #24 closed, assigned to Sergei-Beam

[2022-05-10 12:02] Sergei-Beam commented on #123
@kovaletskaterina please recheck

[2022-05-10 12:06] Sergei-Beam commented on #216
https://master-net.explorer.beam.mw/assets/details/{id}
https://explorer.beam.mw/assets/details/{id}
https://testnet.explorer.beam.mw/assets/details/{id}

[2022-05-10 19:40] dariatarakanova commented on #93
1. Add 2 menu items: **Export wallet data** and **Import wallet data** to Utilities settings. https://zpl.io/2E9MDrD
<img width="399" alt="image" src="https://user-images.githubusercontent.com/47353570/167708403-7363a4bd-2aeb-4945-9f49-b2f9ff2f3fcf.png">

2. Export
2.1. Popup with options https://zpl.io/r17K96r
<img width="319" alt="image" src="https://user-images.githubusercontent.com/47353570/16

[2022-05-11 11:16] Sergei-Beam commented on #148
already done

[2022-05-11 11:16] #148 closed, assigned to Sergei-Beam

[2022-05-11 12:45] kovaletskaterina commented on #274
Checked

[2022-05-11 12:45] #274 closed, assigned to kovaletskaterina

[2022-05-11 14:01] #123 closed, assigned to kovaletskaterina

[2022-05-13 14:24] kovaletskaterina opened #298 "[Send screen] When you switch the transaction type the fee isn't changed automatically"
**Steps to reproduce:**
1. Open the wallet and go to the send screen.
2. Enter the regular address to the address field.
3. Press the max button on the amount field (**the transaction type is online**). Pay attention to the deducted fee.
4. Switch the transaction type from online to offline.
**Expected result:** the fee is recalculated automatically.
**Actual result:** the fee isn't recalculated a

[2022-05-13 14:47] kovaletskaterina opened #299 "While sending a max amount to public offline address, incorrect fee is deducted"
While sending a max amount using public offline address, the wrong fee is deducted and the transaction fails.
**Steps to reproduce:**
1. Open the desktop wallet.
2. Go to the "Settings" screen, expand the "Utilities" tab.
3. Press "Show public offline address" and copy them.
4. Go to the web wallet "Send" screen.
5. Paste the copied address.
6. Press the "max" button on the amount field and tap th

[2022-05-14 11:00] kovaletskaterina commented on #290
Checked

[2022-05-14 11:00] #290 closed, assigned to kovaletskaterina

[2022-05-14 11:05] kovaletskaterina commented on #294
Checked

[2022-05-14 11:05] #294 closed, assigned to kovaletskaterina

[2022-05-14 11:12] kovaletskaterina commented on #296
Checked

[2022-05-14 11:12] #296 closed, assigned to kovaletskaterina

[2022-05-16 09:44] kovaletskaterina commented on #299
Checked

[2022-05-16 09:44] #299 closed, assigned to kovaletskaterina

[2022-05-16 10:31] Sergei-Beam opened #354 "[API] Need to add the ability to get SBBS address from regular"
To fully complete the next tasks:
- https://github.com/BeamMW/web-wallet/issues/199
- https://github.com/BeamMW/web-wallet/issues/200

We need to have the ability to get SBBS address from regular

[2022-05-16 10:32] Sergei-Beam commented on #199
Task for getting SBBS from Regular was created
https://github.com/BeamMW/web-wallet/issues/354

[2022-05-16 10:32] Sergei-Beam commented on #200
Task for getting SBBS from Regular was created
https://github.com/BeamMW/web-wallet/issues/354

[2022-05-16 20:47] kovaletskaterina commented on #298
Checked

[2022-05-16 20:47] #298 closed, assigned to kovaletskaterina

[2022-05-17 11:14] kovaletskaterina opened #301 "While restoring the other wallet, the list of transactions remains from the previous wallet"
When you restore any other wallet via "Remove current wallet" button, the list of transactions remains from the previous wallet until you restart the extension. Looks like it stores somehow in browser cache and uploads after restore.
**Steps to reproduce:**
1. Open web wallet.
2. Remember the list of transactions.
3. Tap the menu and go to the settings screen.
4. Press the "Remove current wallet"

[2022-05-18 11:19] Sergei-Beam commented on #151
Relevant.
Need to update header via moving logo  to center.

[2022-05-19 12:24] kovaletskaterina commented on #199
1. For address details screen of the **regular address (online and offline)** need to change header from “ADDRESS DETAILS” to “REGULAR ADDRESS”.
After generating a regular address need to add the text “Regular address includes both online and offline addresses.” as on the design.
Delete the "address" title from the screen.
![image](https://user-images.githubusercontent.com/83376495/169289472-4c3b9

[2022-05-19 12:31] kovaletskaterina commented on #200
1. For address details screen of a **regular (online and offline) and SBBS addresses** need to change header from “ADDRESS DETAILS” to “REGULAR ADDRESS”.
After generating a regular address need to add the text “Regular address includes both online and offline addresses.” as on the design.
Add the Online (SBBS) Address to the “REGULAR ADDRESS” details screen.
![image](https://user-images.githubuser

[2022-05-24 07:59] kovaletskaterina commented on #301
Is still reproduced

[2022-05-24 08:33] kovaletskaterina commented on #199
1. For the regular address the text “Regular address includes both online and offline addresses.” as on the design hadn't been added.
![image](https://user-images.githubusercontent.com/83376495/169987008-7f9d2008-9415-4caf-be32-78801aedd96c.png)

[2022-05-24 08:34] kovaletskaterina commented on #200
Checked

[2022-05-24 08:34] #200 closed, assigned to kovaletskaterina

[2022-05-24 10:18] kovaletskaterina opened #305 "Add the Online (SBBS) address to the Send and the Receive screens"
- When the https://github.com/BeamMW/web-wallet/issues/354 will be completed, need to add the Online (SBBS) address to the Send and the Receive screens.
![image](https://user-images.githubusercontent.com/83376495/169993823-4aad5721-01e3-4069-8046-7ef5b8e94ff2.png)
![image](https://user-images.githubusercontent.com/83376495/170004708-605ed4f5-7261-45d6-92e6-87c1ea1904ce.png)

[2022-05-25 13:35] razoorka commented on #301
dolphin;view;cream;plunge;crouch;welcome;bulk;monkey;check;slice;omit;gadget;

[2022-05-30 09:05] kovaletskaterina commented on #199
Checked

[2022-05-30 09:05] #199 closed, assigned to kovaletskaterina

[2022-05-30 12:10] kovaletskaterina commented on #28
1. The title of the password confirmation field should be “Password confirmation”.
The “eye” button should be shown on the focus field.
The text on the "start using your wallet" button should be started with lowercase letter.
![image](https://user-images.githubusercontent.com/83376495/170979356-256b0b7e-69be-46ac-81d8-f69bf709a2c8.png)
2. The “eye” button should be shown on the focus field.
![imag

[2022-05-30 15:38] kovaletskaterina commented on #58
- When the address field out of focus, the entered address should be reduced as on the design.

![image](https://user-images.githubusercontent.com/83376495/171022931-3dceeec4-61c0-470f-972f-c4adbe28242b.png)

- The error message should be changed from "Invalid wallet address" to "Incorrect address" as on the design.

![image](https://user-images.githubusercontent.com/83376495/171023046-d08dc527-ad

[2022-06-01 07:57] anatolse commented on #354
checked
console.log(JSON.parse(Module.WasmWalletClient.ConvertTokenToJson("9DfkirZYqjTSuHBGYKxb3ifi58qgDgNQvU4kLK29mNjVvEKQmjrYmCrf5mTMb1HWZT7m8ijTpPKQc628nCwJQ8tE5STnxmaAbDaC4k1JmoMoWrXur95HfvnYHABz5FPweLD51YoCkUhsjZMPcvNx88XoXpBpB83GvVB3wED3DFhdUMFv369TuEe4tKUXwm8wGxmFNFGt4hBv8ZnQBC5aXrKB2hEMWXr8GzfS4PKoZFjoyEckeDiaaF69btCeH6ChzU54LQo5hoQL1S6fqSvWmLiFj59QcA9FYN77R7DaH3M8rM78gb4Cq6ju4TBRUwU2DgYzo

[2022-06-02 09:52] kovaletskaterina opened #308 "[TX info screen] hide the subtitle “General” for all the types of incoming transactions"
Need to hide the subtitle "General" from the "Transaction info" screen for all the types of incoming transactions, e.g. Regular (online/offline), Online (SBBS), Maximum anonymity.
![image](https://user-images.githubusercontent.com/83376495/171595228-cf62ba82-ff22-4add-a4fd-7336d6de5ba6.png)
![image](https://user-images.githubusercontent.com/83376495/171595251-b1ccaf4c-2f64-4560-8150-98cf03dcbc40.p

[2022-06-02 12:08] kovaletskaterina opened #309 "[Restore] An incorrect wallet balance is restored from downloaded restore file"
While restoring the same wallet on the desktop application and on the web extension by certain seed phrases, the wallet balance is different.
_Note: during the restore, fast-sync restore file is used by web wallet._
![image](https://user-images.githubusercontent.com/83376495/171624176-16676e50-8925-44cb-b01f-6e11b233a561.png)
![image](https://user-images.githubusercontent.com/83376495/171624197-52

[2022-06-02 13:13] anatolse commented on #309
for his seed fringe;curtain;few;calm;gasp;stable;oven;buyer;idle;shadow;steak;balcony;
mobile wallet doesn't see this event
I 2022-06-02.15:41:08.847 Shielded output, ID: 5106 Spent, Height=547982

[2022-06-06 09:18] kovaletskaterina commented on #305
1. Add the subtitle "ADDRESS" above the regular address, as on the picture.
2. Move the copy icon on the same level with the online (SBBS) address.
![image](https://user-images.githubusercontent.com/83376495/172124754-8f1a255b-456c-4b8e-9a26-75f0efe8dc26.png)
3. The online (SBBS) address shouldn't be duplicated.
![image](https://user-images.githubusercontent.com/83376495/172127218-a6e06511-56b8-44

[2022-06-06 09:24] kovaletskaterina commented on #308
Checked

[2022-06-06 09:24] #308 closed, assigned to kovaletskaterina

[2022-06-06 09:53] Sergei-Beam commented on #216
Checked on master.
Testnet and mainnet will be checked later.

[2022-06-06 09:57] Sergei-Beam commented on #265
It is still reproduced.
@anatolse you need to take a look when you have time.

[2022-06-06 10:13] Sergei-Beam commented on #58
checked

[2022-06-06 10:13] #58 closed, assigned to Sergei-Beam

[2022-06-07 14:36] Sergei-Beam opened #312 "[Restore] The pre-filled seed phrase doesn’t show after returns from the password screen"
When you press the "back" button from the password screen in the restoring process, the web wallet returns you to the seed phrase screen and the pre-filled seed phrase doesn’t show.
**Steps to reproduce:**
1. Open the web wallet.
2. Press the "Restore wallet" button.
3. Tap the "I agree" button on the "Restore wallet" pop-up.
4. Type in your seed phrase and press the "Submit" button.
5. On the pas

[2022-06-07 15:06] Sergei-Beam opened #313 "[Restore] Incorrect screens order due to back steps"
When you return from the password screen via clicking the "back" button to the seed phrase screen and then press the "back" button, the wallet returns you to the password screen again.
**Steps to reproduce:**
1. Open the web wallet.
2. Press the "Restore wallet" button.
3. Tap "I agree" button on the "Restore wallet" pop-up.
4. Type in your seed phrase and press the "Submit" button.
5. Fill in you

[2022-06-08 08:57] kovaletskaterina commented on #28
The word “password” in the title of the password confirmation field (“Confirm password”) should be started with a lowercase letter.
![image](https://user-images.githubusercontent.com/83376495/172574628-cb1114f1-809f-40be-a975-9cd0750db54c.png)

[2022-06-08 09:20] kovaletskaterina commented on #305
Move the copy icon on the same level with the regular address.
![image](https://user-images.githubusercontent.com/83376495/172580865-2d8bfa80-c4ab-4f13-bbc9-bbe87fdf22af.png)

[2022-06-08 13:03] Sergei-Beam opened #314 "[Send Screen] After returning from the address details screen, the pre-filled address doesn't show"
**Address example:**

9DfkirZYqjTSuHBGYKxb3ifi7G2Y5UoUNLJuifka9a8N9BAXNGKN1u2szSuwqKEZg1xMLBKRJYuubwigBT63mTWViakNkWwejhpJgCXwvbZtqviBng4X3qoZHJJPRPNGRsz1x7FVCqkQJzwY66LLZG3mCdnTSjFio1fCYRcuMTxT4tjvwd9J3aGJTvkCiRtnuBpUpdmsMPeP2gTPFwbUizR82CZ1baJad8T5pXVGZbyBRe2jqtKQBSHDu8ReGzrB83qCsw89T92ZcgQpun2JZfrCjcnPHX9t31CZBrgZ97bgG3wR1xTKhtvV7o3q1AZYGKewPaYJbZi5EfrGrDBi7WkjjfxtiUEQWvgPNg8p3RGBGUGioan6br7u9z

[2022-06-13 08:52] kovaletskaterina commented on #301
Checked

[2022-06-13 08:52] #301 closed, assigned to kovaletskaterina

[2022-06-13 09:01] Sergei-Beam commented on #309
The problem was solved.
There was an issue on the server side.

[2022-06-13 09:01] #309 closed, assigned to Sergei-Beam

[2022-06-14 11:26] kovaletskaterina commented on #305
Checked

[2022-06-14 11:26] #305 closed, assigned to kovaletskaterina

[2022-06-14 11:43] kovaletskaterina commented on #28
Checked

[2022-06-14 11:44] #28 closed, assigned to kovaletskaterina

[2022-06-14 13:01] Sergei-Beam commented on #314
checked

[2022-06-14 13:01] #314 closed, assigned to Sergei-Beam

[2022-06-14 13:05] Sergei-Beam commented on #312
checked

[2022-06-14 13:05] #312 closed, assigned to Sergei-Beam

[2022-06-14 13:13] kovaletskaterina commented on #313
Checked

[2022-06-14 13:13] #313 closed, assigned to kovaletskaterina

[2022-06-22 09:01] Sergei-Beam commented on #216
checked on mainnet

[2022-06-22 09:01] #216 closed, assigned to Sergei-Beam

[2022-06-24 08:48] kovaletskaterina opened #317 "[Assets] Change the asset's icon for the BEAMX asset"
For the BEAMX asset change the asset's icon as on the desktop wallet.
_BEAMX icon and check mark -_ https://zpl.io/2GqozRY
![image](https://user-images.githubusercontent.com/83376495/175497467-376f83c7-3e9c-43d0-95a7-45c87312528e.png)

[2022-06-24 08:52] kovaletskaterina opened #318 "[Assets] Add the check mark for the RAYS and the BEAMX assets"
Add the check mark on the upper right corner of the asset's icon for the RAYS and the BEAMX assets (as in the example https://zpl.io/aBPe0Nq).
BEAMX icon and check mark - https://zpl.io/2GqozRY
![image](https://user-images.githubusercontent.com/83376495/175496929-ddfa49e1-d636-41fe-8600-224caeaa02d9.png)

[2022-06-24 09:02] kovaletskaterina opened #319 "[Remove wallet] After removing current wallet, the wallet DB doesn't delete"
**Steps to reproduce:**
1. Open the web wallet.
2. Go to the settings screen.
3. Press the "Removing current wallet" button.
4. Tap the "next" button on the "Removing current wallet" popup.
5. Enter the password and press the "remove" button.
6. Go to the chrome://extensions/ browser tab.
7. Press the "restart" button on the Beam Web Wallet extension.
8. Open the web wallet.
**Expected result:** t

[2022-06-27 07:33] VikMaevskaya opened #320 "it is necessary to make the preservation of authorization for a time period"
like in metamask, the password need to be saved at least for a hour.
is it possible?

https://user-images.githubusercontent.com/94360080/175884111-baa4f79c-b227-4e81-a0cc-1b45a61e7192.mp4

[2022-06-27 10:58] #320 closed, assigned to iscander01

[2022-06-28 10:06] Sergei-Beam opened #321 "[Settings screen] Correct the mainnet wallet version"
On the settings screen of the mainnet web wallet the extension version should be displayed without brackets (as on the desktop wallet).
![image](https://user-images.githubusercontent.com/44496108/176153055-f9c769db-eb94-4dcd-954a-28b99e286049.png)
![image](https://user-images.githubusercontent.com/44496108/176153087-7916551f-2387-45f3-af8a-85f9aa391d58.png)

[2022-06-28 13:54] kovaletskaterina opened #322 "[Send screen] Max amount is automatically pre-filled, while sending regular (offline) transaction"
If the wallet balance is less than 1 BEAM, the amount field is automatically pre-filled with a max wallet amount (deducting fee), if enter a regular address into the "send to" field and switch the type of transaction to offline.
**Steps to reproduce:**
1. Open the web wallet.
2. Go to the "Receive" screen.
3. Copy the regular address.
4. Go to the "Send" screen.
5. Past the copied address into the

[2022-06-29 15:05] kovaletskaterina opened #323 "While restoring or creating a new wallet from the lock screen, the wallet doesn't work"
When the wallet is being locked, and you try to _restore the wallet or create a new one_ via "Restore wallet or create a new one" button, the second step of _restore or creation_ (Unpacking blockchain info) doesn't implement.
**Steps to reproduce:**
1. Open the web wallet;
2. Press the three dots menu in the upper right corner;
3. Press the "Lock wallet" button;
4. Press the "Restore wallet or cre

[2022-08-22 16:49] kovaletskaterina opened #326 "[Send screen | Address details] After switching the transaction type, an incorrect information for the regular (offline) address shown"
When you switch from online to offline transaction and then press the address details button, the address details screen shows an incorrect information.
**Steps to reproduce:**
1. Go to the receive screen.
2. Press the "copy and close" button.
3. Go to the send screen.
4. Pass the copied address into the send to field.
5. Switch the transaction type from inline to offline.
6. Press the address det

[2022-08-22 17:10] kovaletskaterina opened #327 "[Restore] An incorrect behaviour of the input field, while pressing the space button"
When you press the space button while typing in the seed phrase, the input field behaves incorrectly.
![2022-08-22_20-12-31](https://user-images.githubusercontent.com/83376495/185980025-a1426b10-a7d3-4218-bd5a-de00e4364689.gif)
https://user-images.githubusercontent.com/83376495/185977949-261cb653-fa73-4ba2-bff2-aefe2daebf94.mp4

[2022-08-22 18:17] kovaletskaterina opened #328 "[Restore] A spent shielded coins are restored as confirmed"
While restoring a wallet, the spent shielded coins are displayed in a balance.
![image](https://user-images.githubusercontent.com/83376495/185984696-f72d7d1c-3a67-4b75-ba3c-22a6b26a6a2c.png)
![image](https://user-images.githubusercontent.com/83376495/185984648-91ea9991-e3cd-469e-aead-3095dd76703f.png)
[beam-web-wallet-7.1.12987.475-report.zip](https://github.com/BeamMW/web-wallet/files/9396569/bea

[2022-08-23 13:48] kovaletskaterina opened #330 "[TX info screen] Hide the subtitle “General” for all the types of sent to own address transactions"
Need to hide the subtitle "General" from the "Transaction info" screen for all the types of sent to own address transactions, e.g. Regular (online/offline), Online (SBBS), Maximum anonymity.
![image](https://user-images.githubusercontent.com/83376495/186172908-27465f3d-f2d8-4479-ad34-f661da3b9f72.png)
![image](https://user-images.githubusercontent.com/83376495/186174194-70dacac8-1b55-4b26-9dcf-b66

[2022-08-23 16:13] kovaletskaterina commented on #322
A similar situation repeats, when you send an amount, which is less than 1.
![2022-08-23_19-10-42](https://user-images.githubusercontent.com/83376495/186208282-afc19f3a-c26d-4d23-bc87-f4e13509f7e8.gif)

[2022-08-23 17:05] kovaletskaterina opened #331 "[Send screen] Add the "eye" button"
Add the eye button on the send screen as on mobile wallet.
![image](https://user-images.githubusercontent.com/83376495/186219529-cefb00c4-eb21-46cf-b0fa-6c7e68e55430.png)

[2022-10-17 11:26] kovaletskaterina commented on #319
Checked

[2022-10-17 11:26] #319 closed, assigned to kovaletskaterina

[2022-10-27 08:27] gingervik opened #332 "Manifest 3 webwallet version"

[2022-10-27 08:29] kovaletskaterina commented on #331
Checked

[2022-10-27 08:29] #331 closed, assigned to kovaletskaterina